<div>
    <header class="clearfix">
        <div class="fl"  >
            <div class="fl" *ngFor="let decor of decorList;let i = index;"  (click)="selectNmae(decor,i)" [ngClass]="{'active':decor == name_active_data}" [innerHTML]="decor.qsrmc"></div>
            <app-select-list class="fr" *ngIf="displaySelectPserson"  [values]="selectPersonList"
                             (SelectModel)="getChildEvent1($event)"></app-select-list>
        </div>
        <div class="fr">
            <div class="fl" (click)="displaySlect()"><span class="img"><img src="assets/img/icon/jiahao.png" class="img" alt=""></span>新增房屋装修</div>
            <div class="fl" (click)="deleteSlect()"><span><img src="assets/img/icon/clear.png" alt="" class="img"></span>删除房屋装修</div>
        </div>
    </header>



    <form #person="ngForm">
    <div *ngIf="name_active_data">
        <div class="home_title ">房屋装修基本信息</div>
        <div class="all_box clearfix">
            <div class="inputArea fl">
                <div class="inputLeft fl">
                    <span class="importent">权属人</span>
                </div>
                <div class="inputRight fl">
                    <app-select-list [width]="0"  [values]="selectPersonList"
                                     (SelectModel)="eventQsr($event)"    [selectValue]="name_active_data.qsrId" ngDefaultControl></app-select-list>

                </div>
            </div>
            <div class="inputArea rl fl langest">
                <div class="inputLeftSelect fl ">
                    <span class="importent">所在行政区划</span>
                </div>
                <div class="inputRight fl">
                    <input type="text" class="inputH" [(ngModel)]="name_active_data.swszxzqhdm" name="swszxzqhdm">
                    <span class="xiala" (click)="showAreaBlock()"></span>
                    <app-area-select class="areaCommpont" [display]="isShowArea"
                                     (childEvent)="getChildEvent($event)"></app-area-select>
                    <!--<input type="text" value="王友群">-->
                </div>
            </div>
            <!--下拉框-->
            <div class="inputArea fl">
                <div class="inputLeft fl">
                    <span class="importent">专业大类</span>
                </div>
                <div class="inputRight fl" *ngIf="zydl_list">
                    <app-select-list [width]="0" [values]="zydl_list"
                                     (SelectModel)="eventZydl($event)" [selectValue]="name_active_data.zydldm" name="zydl" ngDefaultControl></app-select-list>
                </div>
            </div>
            <!--<div class="fl group group-4 danwei">-->
                <!--<span>建筑总面积</span>-->
                <!--<input type="number" [(ngModel)]="name_active_data.jzzmj" name="zydl">-->
                <!--<div class="fl mianji">-->
                    <!--㎡-->
                <!--</div>-->

            <!--</div>-->
            <div class="inputArea fl">
                <div class="inputLeft fl">
                    <span class="importent">建筑总面积</span>
                </div>
                <div class="inputRight fl" style="width:calc(100% - 140px )">
                    <input type="text" placeholder="这个数据哪里来">
                </div>

                <div class="fl mianji">
                    ㎡
                </div>

            </div>

            <div class="inputBox  rl fl">
                <div class="input_left fl importent">
                    调查范围
                </div>
                <div class="input_right fl">
                    <input type="text" class="inputH" [(ngModel)]="name_active_data.dcfwmc" name="dcfw" ngDefaultControl>
                    <i class="xiala" (click)="dcfw_show()"></i>
                    <app-surver-area [values]="dcfw_list" [isShow]="dcfw_list_is_show" (childEvent)="dcfw_data($event)" ></app-surver-area>
                </div>


            </div>

            <div>
                <div class="inputArea fl">
                    <div class="inputLeft fl">
                        <span>是否线外</span>
                    </div>
                    <div class="inputRight fl">
                        <p-selectButton name="sfxw" [options]="types" [(ngModel)]="name_active_data.sfxw"
                                        (click)="selectedTypea()"></p-selectButton>
                    </div>
                </div>
            </div>
            <div class="clearfix beizhu ">
                <div class="textareaBeizhu">
                    <span>备注 </span>
                </div>
                <textarea name="bz" [(ngModel)]="name_active_data.bz" id="" cols="30" rows="10" class="textarea"></textarea>
            </div>
        </div>
    </div>
    </form>


    <div *ngIf="name_active_base">
        <div class="home_title">房屋分类信息</div>


        <div class="tab_box clearfix" >

            <div *ngFor="let TreeTable of name_active_base;let i = index;" class="group-4 fl" >

                <p-treeTable   ui-treetable-tablewrapper [tableStyle]="{'padding':'10px'}" [value]="TreeTable"  [(selection)]="selectedFiles2" [style]="{'margin-top':'20px','border':'1px solid #cccccc'}">
                    <p-column field="xh"  header="序号">
                        <!--<ng-template let-node="rowData" pTemplate="body">-->
                        <!--<input type="text"  style="width:100%;border-width:0px 0px 1px 0px">-->
                        <!--</ng-template>-->
                    </p-column>
                    <p-column field="zdxmc" header="类别">
                        <!--<ng-template let-node="rowData" pTemplate="body">-->
                        <!--<input type="text"  style="width:100%;border-width:0px 0px 1px 0px">-->
                        <!--</ng-template>-->
                    </p-column>
                    <p-column field="jzmj" header="面积" >
                        <ng-template let-col let-node="rowData" pTemplate="body">
                            <input type="text"  style="width:100%;"  [(ngModel)]="node.jzmj" (keyup)="Tree_update(TreeTable,node,i)"   >
                        </ng-template>
                    </p-column>
                    <p-column field="dwmc" header="单位">
                        <!--<ng-template let-node="rowData" pTemplate="body">-->
                        <!--<input type="text"  style="width:100%;border-width:0px 0px 1px 0px">-->
                        <!--</ng-template>-->
                    </p-column>

                    <p-column field="bz" header="备注" >
                        <ng-template let-col let-node="rowData" pTemplate="body">
                            <input type="text"  style="width:100%;" [(ngModel)]="node.bz"  (keyup)="Tree_update(TreeTable,node.data,i)">
                        </ng-template>
                    </p-column>
                </p-treeTable>


            </div>





        </div>

    </div>


    <p-growl [(value)]="msgs"></p-growl>





</div>