header > div > div {
    padding: 7px 15px;
    color: #666666;
    border: 1px solid #cccccc;
}

header .fl div {
    margin-right: 20px;

}

header .fr div {
    margin-left: 20px;
}

header > div > div.active {
    background: #0099cb;
    color: white;
}

.home_title {
    background: #f7f7f7;
    padding: 6px;
}

.all_box {
    padding: 15px;
}

.inputArea {
    min-height: 34px;
    max-height: 34px;
    width: 25%;
    margin: 5px 0;
}

.textareaBeizhu {
    float: left;
    margin-top: 10px;
    width: 8.5%;
    text-align: right;
}

.beizhu {
    margin-top: 20px;
    padding-top: 5px;
}

.textarea.textarea {
    width: 91.5%;
    height: 60px;
    resize: none;
    border: 1px solid #ccc;
    margin: 0;
}

.inputArea input {
    width: 100%;
    box-sizing: border-box;
}

.inputLeft {
    width: 100px;
    margin-top: 8px;
    text-align: right;
}

.inputRight {
    width: calc(100% - 100px);
}

.langest {
    width: 50%;
}

.inputLeftSelect {
    width: 100px;
    margin-top: 8px;
    text-align: right;
}

.inputRight input {
    padding: 7px;
    border: 1px solid #ccc;
    color: #999999;
}
.listBox{
    position: relative;
    z-index: 1;
}
.inputRight select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    color: #999999;
}

.langest .inputRight {
    width: calc(100% - 100px);
}

.Mianji {
    width: calc(66% - 42px);
}

.mianji {
    width: 30px;
    border: 1px solid #cccccc;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #0099cb;
    background: #eeeeee;
}

.showMore {
    float: left;
    background: #0099cb;
    color: white;
    text-align: center;
    width: 150px;
    padding: 8px;
    margin: 15px 20px 10px 50px;
}

.beizhu {
    margin-top: 20px;
}

.home_title {
    margin: 15px 0;
}

.tab_box > div > div.table_left, div.table_right {
    width: 50%;
    box-sizing: border-box;
    padding: 15px;
}

.table tbody > tr > td:nth-child(2) {
    text-align: left;
}

.tab_box tbody input {
    padding: 7px 15px;
    outline: none;
    box-sizing: border-box;
}

.tab_box div.btnChecbox {
    text-align: right;
}

.inputRight .xiala {
    width: auto;
    border-top: 10px solid #6f6f6f;
    position: absolute;
    right: 15px;
    top: 15px;
}

textarea {
    width: calc(100% - 163px);
    height: 65px;
    resize: none;
    margin: 7px;
}

.inputLeft > span {
    padding-right: 10px;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify

}

.danwei input {
    width: calc(100% - 160px);
}

.danwei .mianji {
    height: 32px;

}

.beizhu {

    margin-top: 20px;
}

.btnGrop {
    float: right;
}

.modalInput {
    margin: 10px 0;
}


.container {
    padding: 15px 0;

}

.left {
    width: 18%;
}

.right {
    box-sizing: border-box;
    padding: 15px;
    padding-top: 0;
    width: 82%;
}

.headerTitle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header {
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
}

.input_left {
    width: 30%;
    margin-top: 8px;
    padding: 0 10px;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify
}

.input_right {
    width: 70%;
}

.box_botton {
    margin-top: 20px;
    font-size: 12px;
}

.inputH {
    padding: 8px;
    border: 1px solid #ccc;
    color: #999999;
}

.input_right input {
    width: 100%;
    box-sizing: border-box;
}

.selectInput {
    padding: 5.5px;
    width: 100%;
}

.areaBox {
    width: 66%;
}

.table tbody tr.active {
    background: #0099cb;
    color: white;
}

:host
/deep/
.ui-calendar {
    width: 100%;
}

:host
/deep/
.ui-widget-content {
    color: #333333;
}

.areaShow .list {
    padding: 3px 10px;
    cursor: pointer;
}

.areaShow .list:hover {
    background: #0099cb;
    color: white;
}

.areaShow {
    background: white;
    padding: 15px;
    position: absolute;
    right: 0;
    width: calc(100% - 135px);
    border: 1px solid #cccccc;
    color: #999;
    z-index: 1;
}

.importent {
    color: #ff3b03;
}

.inputBox .input_right .inputS {
    width: 40px;
    height: 30px;
}

.textarea.textarea {
    width: calc(100% - 140px);
    height: 60px;
    resize: none;
    border: 1px solid #ccc;
}

.timeSelect {
    padding: 1px 0;
}

.textareaBeizhu {
    float: left;
    margin-top: 10px;
    width: 100px;
    text-align: right;
}

.table1 {
    min-width: 1400px;
    white-space: nowrap;
}

.table1 input {
    width: 100%;
}

.table1 thead tr td {
    padding: 7px 15px;
}

.table1 {
    margin-bottom: 20px;
}

.table1 tr td input {
    border: none;
}

.table1 tbody tr td {
    padding-left: 2px;
}

.clearfix .group {
    padding: 5px 0;
}

.perDanwei {
    display: inline-block;
}

.inputBox {
    min-height: 34px;
    max-height: 34px;
    width: 33%;
    margin: 5px 0;
}

.grave_right {
    width: calc(100% - 240px);
}

@media (max-width: 1025px) {
    .inputBox {
        width: 50%;
    }
}

.button_10 {
    margin-bottom: 10px;
}
.button_10 div:hover{
    background: #e6dfdf;
    cursor: pointer;
}

.inputArea .input_left {
    width: 30%;
    margin-top: 8px;
    padding: 0 10px;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
}

.foot_boxShadow {
    max-height: 500px;
    min-height:300px;
    overflow: auto;
    margin: 10px 0;
}

.foot_box {
    padding: 5px
}

:host
/deep/
.current_page {
    border: none;
}

.mar_top {
    margin-top: 15px;
}

p-panel {
    clear: both;
    margin-top: 15px;
}

.tableClass {
    width: 100%;
    display: inline-block;
    height: 100%;
}
.search_bg{
    background-color:yellow;
    padding:3px;
    border-radius:3px;
}
.two_input{
    width: calc(100% - 160px);
}
.danwei .two_input input{
    width: 45%;
    display: inline-block;
}
:host
/deep/
 .ui-panel.ui-widget .ui-panel-titlebar{
     border-width: 0px 0 1px 0;
 }
.group .xiala{
    right: 30px;
}
:host
/deep/
.group .boxShadow{
    top: 38px;
    right: 20px;
}





