<p-dialog modal="modal" [(visible)]="display"
          [style]="{'width':'100%','height':'100%','margin':'0',left:'0px','overflow':'auto'}"
          [contentStyle]="{'width':'100%','height':'100%','padding':'0','margin':'0','padding-bottom':'100px'}"
          height="100%" width="100%" [breakpoint]="1000">

    <p-header>
        <div>附件管理</div>
        <div class="showClose">
            <img src="/assets/img/icon/bigest.png" alt="最大化" (click)="bigest($event)">
            <img src="/assets/img/icon/x.png" alt="关闭" (click)="close(2)">
        </div>
    </p-header>
    <div class="moduleAlert">
        <div class="baseinfo">
            <div class="basetitle">
                附件基本信息
            </div>
            <div>
                <div class="fl fjname">
                    <span>附件内容</span>
                    <input type="text" class="searchInput" placeholder="请输入名称">
                </div>
                <div class="fl">
                    <span>主要文件类型</span>
                    <select name="" id="" class="select">
                        <option value="1" selected="selected">请选择类型</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                    </select>
                </div>
                <div class="clearfix">
                    <div class="beizhu">
                        <span>备注</span>
                    </div>
                    <textarea name="" id=""></textarea>
                </div>
            </div>
            <div></div>
        </div>
        <div class="fjList">
            <div class="basetitle">
                附件文件列表
            </div>
            <div class="btnGrop fjBtn">
                <ul>
                    <li class="fl">从扫描仪获取</li>
                    <li class="fl">上传</li>
                    <li class="fl">删除</li>
                    <li class="fl">全部删除</li>
                </ul>
            </div>
            <div class="clearfix">
                <table class="table">
                    <thead>
                    <tr>

                        <td>文件名</td>
                        <td>备注</td>
                        <td>查看</td>
                        <td>下载</td>
                        <td>排序号</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>文件名</td>
                        <td>备注</td>
                        <td class="active" (click)="openModal()">查看</td>
                        <td class="active">下载</td>
                        <td>排序号</td>
                    </tr>
                    <tr>
                        <td>文件名</td>
                        <td>备注</td>
                        <td>查看</td>
                        <td>下载</td>
                        <td>排序号</td>
                    </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="btnGroup">
            <span style="color: #0099cb" class="btn" (click)="close()">退出</span>
        </div>

    </p-footer>

</p-dialog>
<div #model></div>