 <p-dialog modal="modal"
          responsive="true"
          [(visible)]="display" height="100%" breakpoint="100%">
    <p-header>
        <div>筛选条件</div>
        <div class="showClose">
            <img src="/assets/img/icon/bigest.png" alt="最大化" (click)="showtype()">
            <img src="/assets/img/icon/x.png" alt="关闭" (click)="close()">
        </div>
    </p-header>
    <form #query="ngForm">
        <div class="moduleAlert">
            <div>
                <ul>
                    <li class="fl group group-2"><span>户主名称</span><input type="text" [(ngModel)]="getParem['hzxm']" name="hzxm" ></li>
                    <li class="fl group group-2"><span>户主身份证号</span><input type="text" [(ngModel)]="getParem['hzsfzh']" name="hzsfzh" ></li>
                    <li class="fl group group-2"><span>家庭成员姓名</span><input type="text" [(ngModel)]="getParem['jtcyxm']" name="jtcyxm"></li>
                    <li class="fl group group-2"><span>家庭成员身份证号</span><input type="text" [(ngModel)]="getParem['jtcysfzh']" name="jtcysfzh" ></li>
                    <li class="fl group group-2"><span>档案编号</span><input type="text" [(ngModel)]="getParem['dabh']" name="dabh" ></li>
                    <li class="fl group group-2 rl query"><span>专业大类</span>
                        <input [disabled]="isDisabled" class='inputH' type="text"
                               [(ngModel)]="getParem.zydlmc" name="zydldm" (click)="showZydlBlock()"
                               readonly="readonly"/>
                        <i class="xiala" (click)="showZydlBlock()"></i>
                        <app-sec-type-list (SelectModel)="getChildZydl($event)" [treeList]="zydlTreeList"
                                           [isShow]="isShowZydl"
                                           [tableList]="zydlTableList"></app-sec-type-list>

                    </li>
                    <li class="fl group group-1 rl rl query"><span>调查范围</span>
                        <input [disabled]="isDisabled" type="text" class="inputH" [(ngModel)]="getParem.dcfwmc" name="dcfwdm"
                               (click)="showDcfwBlock()" readonly="readonly">
                        <i class="xiala" (click)="showDcfwBlock()"></i>
                        <app-sec-type-list (SelectModel)="getChildDcfw($event)" [treeList]="dcfwTreeList"
                                           [isShow]="isShowDcfw"
                                           [tableList]="dcfwTableList"></app-sec-type-list>


                    </li>
                    <li class="fl group group-2"><span>是否线外</span>
                        <p-selectButton [options]="types1"  [(ngModel)]="getParem.sfxw" name="sfxw"
                                        ></p-selectButton>
                    </li>
                    <li class="fl group group-2">
                        <span>是否空挂户</span>
                        <p-selectButton [options]="types2" [(ngModel)]="getParem.sfkgh" name="sfkgh"
                                      ></p-selectButton>

                    </li>
                </ul>
            </div>
        </div>
    </form>
        <p-footer>



                <div class="btn-group icon clearfix">
                    <a (click)="clear()">清空筛选条件</a>
                    <a (click)="search()">执行筛选</a>

                </div>


    </p-footer>

</p-dialog>