<div class="containerEng">


    <header>
      <div class="title">
        <ul class="clearfix">
          <li class="fl active">
            <app-breadcrumb [items]="breadcrumb"></app-breadcrumb></li>
          <!--<li class="fl">非专项部分</li>-->
        </ul>
      </div>
    </header>
    <div class="engBody">
      <div class="tableEng">
        按村粒度管理
      </div>
      <div class="showBox">
        <div class="top clearfix">
          <div class="top_left fl">
            <span class="img"><img src="assets/img/icon/diquxuanze.png" alt=""></span>区划
          </div>
          <div class="btnGrop fl rl">
            <div class="fl tab_title">
              <span *ngIf="event">{{event.label}}规划生产安置人口信息</span>
            </div>
            <div class="fr sec">



              <ul class="clearfix">



                <li class="fl" >

                <div *ngIf="!isDisabled" class="fl" (click)="save()"><span class="img"><img src="assets/img/icon/brush_fill.png"
                                                                                            alt=""></span>保存
                </div>
                </li>

                <li class="fl" >

                  <div *ngIf="!isDisabled" class="fl" (click)="Clear('rew')"><span class="img"><img src="assets/img/icon/brush_fill.png"
                                                                                                      alt=""></span>清空所有
                </div>
                </li>

                <li class="fl" (click)="showAll(true)" *ngIf="isShow">
                  <span class="img icon fa fa-square-o"></span>
                  显示非空项
                </li>
                <li class="fl" (click)="showAll(false)" *ngIf="!isShow">
                  <span class="img icon fa fa-check-square"></span>
                  显示所有项
                </li>





              </ul>

            </div>
          </div>
        </div>
        <div class="body1 clearfix">
          <div class="bodyLeft fl">
            <app-treeList (childEvent)="getEvent($event)" [value]="treeList"></app-treeList>

          </div>
          <div class="bodyRight fl">
            <p-dataTable [value]="ghzb_data?.flbmxList" dataKey="zdxxh"

                         [emptyMessage]="'查询数据为空'"
                         responsive="true">
              <p-column field="zdxxh" header="序号"></p-column>
              <p-column field="zdxmc" header="指标名称">
                <ng-template let-col let-i="rowIndex" let-car="rowData" pTemplate="body">
                  <span [innerHTML]="car.zdxmc"></span>
                </ng-template>
              </p-column>
              <p-column field="sl" header="数量" [editable]="true" >
                <ng-template let-col let-i="rowIndex" let-car="rowData" pTemplate="body">
                  <input [disabled]="isDisabled" type="number"  onkeypress='return( /[\d]/.test(String.fromCharCode(event.keyCode) ) )'    [(ngModel)]="car.sl"  (ngModelChange)="tableChange(car)">
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>

  <p-growl [(value)]="msgs"></p-growl>

</div>