<div class="clearfix">
  <div class="fl group group-4">
    <span>权属人</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>所在行政区划</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>调查范围</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>桥涵类别</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>桥涵名称</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>所在位置</span>
    <input type="text">
  </div>
  <div class="fl group group-2">
    <span>建成日期</span>
    <input type="text">
  </div>
  <div class="fl group group-4 ">
    <span>主管部门</span>
    <input type="text">

  </div>

  <div class="fl group group-4 ">
    <span>运行管理单位</span>
    <input type="text">

  </div>
  <div class="fl group group-2">
    <span>所属公路类别</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>所属公路</span>
    <input type="text">

  </div>

  <div class="fl group group-4 danwei">
    <span>桥梁长度</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>
  <div class="fl group group-4 danwei">
    <span>桥梁宽度</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>
  <div class="fl group group-4 danwei">
    <span>桥涵材料</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>

  <div class="fl group group-4 ">
    <span>桥梁结构</span>
    <input type="text">

  </div>
  <div class="fl group group-4 danwei">
    <span>占地面积</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>
  <div class="fl group group-4 danwei">
    <span>设计载重</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>
  <div class="fl group group-4 ">
    <span>断面编号</span>
    <input type="text">

  </div>
  <div class="fl group group-2 danwei">
    <span>所在高程</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>
  <div class="fl group group-4 danwei">
    <span>桥面高程</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>
  <div class="fl group group-4 ">
    <span>设计洪水标准</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>淹没影响程度</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>调查流水号</span>
    <input type="text">

  </div>











  <div  class="clearfix beizhu ">
    <div  class="textareaBeizhu">
      <span >备注 </span>
    </div>
    <textarea  class="textarea " cols="30" id="" name="bz" rows="10"  model="所在最低高程"></textarea>
  </div>


</div>