
header{
    border-bottom: 1px solid #cccccc;
}
.title{
    display: inline-block;
    padding: 15px;
    border-bottom: 3px solid #0095cd;
    color: #0095cd;
}
.t .btnGrop{
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    font-size: 12px;
}
.body{
    /*border: 1px solid #cccccc;*/
    margin-top: 15px;
    padding: 20px;
}
.searchDiv{
    padding: 15px;
    width: 250px;
}
.btnGrop div{
    padding: 8px 15px;
     margin-left: 15px;
}
.btnGrop div:last-child{
    border: 1px solid #cccccc;
}
.body_botton{
    border-top: 1px solid #ccc;
}
.t{
    font-size: 18px;
    margin: 25px;
}







.btnGrop{
    padding: 15px;
}
.upImg{

 border-right: 1px solid ;
}
.uptext{
    border-left:0;
    vertical-align: middle;
    width: calc(100% - 71px);
    font-size: 16px;
    text-align: center;
}






