<div class="clearfix">
  <div class="fl group group-4">
    <span>权属人</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>所在行政区划</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>调查范围</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>铁路类别</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>路线名称</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>长度（km）</span>
    <input type="text">
  </div>
  <div class="fl group group-2">
    <span>等级</span>
    <input type="text">
  </div>
  <div class="fl group group-4 ">
    <span>轨道类型</span>
    <input type="text">

  </div>

  <div class="fl group group-4 ">
    <span>主管部门</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>起始地点</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>结束地点</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>断面编号</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>设计运输能力（万吨/年）</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>设计洪水标准</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>淹没影响程度</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>调查流水号</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>建成日期</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>投运日期</span>
    <input type="text">

  </div>
  <div class="fl group group-2 ">
    <span>标准描述</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>使用现状</span>
    <input type="text">

  </div>
  <div  class="clearfix beizhu ">
    <div  class="textareaBeizhu">
      <span >备注 </span>
    </div>
    <textarea  class="textarea " cols="30" id="" name="bz" rows="10"  model="所在最低高程"></textarea>
  </div>


</div>