<div class="header clearfix">
  <ul>
    <li class="fl" routerLink="/engmangHome" routerLinkActive="active"><span><img src="assets/img/icon/location-city.png" alt=""></span>信息管理</li>
    <li class="fl" routerLink="/query" routerLinkActive="active"><span><img src="assets/img/icon/drive-document.png" alt=""></span>查询统计</li>
    <li class="fl" routerLink="/report" routerLinkActive="active"><span><img src="assets/img/icon/poll.png" alt=""></span>通告报表</li>
    <li class="fl" routerLink="/KpiReport" routerLinkActive="active"><span><img src="assets/img/icon/timelapse.png" alt=""></span>KPI仪表盘</li>
    <li class="fl" routerLink="/database" routerLinkActive="active"><span><img src="assets/img/icon/settings.png" alt=""></span>资料库</li>
    <li class="fl" routerLink="/system" routerLinkActive="active"  ><span><img src="assets/img/icon/settings.png" alt=""></span>系统设置</li>
  </ul>
</div>