<header class="clearfix">

    <div class="fl">
        <div class="fl" *ngFor="let houses of houesList;let i = index;" (click)="selectName(houses,i)"
             [ngClass]="{'active':houses == name_active_data}" [innerHTML]="houses.qsrmc"></div>
        <app-select-list class="fr" *ngIf="displaySelectPserson" [width]="0" [values]="selectPersonList"
                         (SelectModel)="addHouses($event)"></app-select-list>
    </div>

    <div class="fr button_10" *ngIf="!isDisabled">
        <div class="fl" (click)="displaySlect()"><span class="img"><img src="assets/img/icon/jiahao.png" class="img"
                                                                        alt=""></span>{{displaySelectPserson?'取消新增':'新增房屋'}}
        </div>
        <div class="fl" (click)="deleteSlect()"><span><img src="assets/img/icon/clear.png" alt="" class="img"></span>删除房屋
        </div>

    </div>
</header>

<form #person="ngForm">


    <p-panel toggleable="true" *ngIf="name_active_data" expandIcon="fa-angle-double-up"
             class="clearfix" collapseIcon="fa-angle-double-down">


        <p-header class="header_bg">
            <div class="title" style="padding: 0;border: none;">
                房屋基本信息
            </div>
        </p-header>

        <div *ngIf="name_active_data">


            <div class="all_box clearfix">
                <div class="inputArea fl">
                    <div class="inputLeft fl">
                        <span class="importent">权属人</span>
                    </div>
                    <div class="inputRight fl">
                        <app-select-list [disabled]="isDisabled" [width]="0" [values]="selectPersonList"
                                         (SelectModel)="eventQsr($event)" [selectValue]="name_active_data.qsrId"
                                         ngDefaultControl></app-select-list>
                    </div>
                </div>
                <div class="inputArea rl fl langest">
                    <div class="inputLeftSelect fl ">
                        <span class="importent">所在行政区划</span>
                    </div>
                    <div class="inputRight fl">
                        <input [disabled]="isDisabled" type="text" class="inputH"
                               [(ngModel)]="name_active_data.localitydesc" name="szxzqhmc" readonly="readonly"
                               (click)="showAreaBlock()">
                        <span class="xiala" (click)="showAreaBlock()"></span>

                        <app-area-select [localityCode]="szxzqugldm" class="areaCommpont" [display]="isShowArea"
                                         (childEvent)="getChildSzxzqh($event)"></app-area-select>

                        <!--<input [disabled]="isDisabled" type="text" value="王友群">-->
                    </div>
                </div>


                <div class="fl inputArea  rl zydl">


                    <div class="inputLeft fl">
                        <span class="importent">专业大类</span>
                    </div>
                    <div class="inputRight fl">
                        <input [disabled]="isDisabled" class='inputH' type="text"
                               [(ngModel)]="name_active_data.zydlmc" name="zydldm" (click)="showZydlBlock()"
                               readonly="readonly"/>
                        <i class="xiala" (click)="showZydlBlock()"></i>
                        <app-sec-type-list (SelectModel)="getChildZydl($event)" [treeList]="zydlTreeList"
                                           [isShow]="isShowZydl"
                                           [tableList]="zydlTableList"></app-sec-type-list>
                    </div>


                </div>


                <div class="inputArea rl fl langest">
                    <div class="inputLeftSelect fl">
                        <span class="importent">调查范围</span>
                    </div>

                    <div class="inputRight fl">
                        <input [disabled]="isDisabled" class='inputH' type="text"
                               [(ngModel)]="name_active_data.dcfwmc" name="dcfwmc" (click)="showDcfwBlock()"
                               readonly="readonly"/>
                        <i class="xiala" (click)="showDcfwBlock()"></i>
                        <app-sec-type-list (SelectModel)="getChildDcfw($event)" [treeList]="dcfwTreeList"
                                           [isShow]="isShowDcfw"
                                           [tableList]="dcfwTableList"></app-sec-type-list>

                    </div>


                </div>


                <div class="inputArea fl">
                    <div class="inputLeft fl">
                        <span class="">建筑总面积</span>
                    </div>
                    <div class="inputRight fl" style="width:calc(100% - 140px )">
                        <input disabled="true" type="text" [(ngModel)]="jzzmj" name="jzzmj" readonly="readonly">
                    </div>

                    <div class="fl mianji" (click)="test()">
                        ㎡
                    </div>

                </div>
                <div class="inputArea fl">
                    <div class="inputLeft fl">
                        <span class="">宅基地面积</span>
                    </div>
                    <div class="inputRight fl" style="width:calc(100% - 140px )">
                        <input [disabled]="isDisabled" type="number" [(ngModel)]="name_active_data.zjdmj" name="zjdmj">
                    </div>

                    <div class="fl mianji">
                        ㎡
                    </div>

                </div>

                <div>
                    <div class="inputArea fl">
                        <div class="inputLeft fl">
                            <span>是否无户房产</span>
                        </div>
                        <div class="inputRight fl">
                            <p-selectButton [options]="types2" [disabled]="isDisabled"
                                            [(ngModel)]="sfwhfc" name="sfwhfcValue"
                                            (click)="selectedTypea2(sfwhfc)"></p-selectButton>
                        </div>
                    </div>


                    <div>
                        <div class="inputArea fl">
                            <div class="inputLeft fl">
                                <span>是否线外</span>
                            </div>
                            <div class="inputRight fl">
                                <p-selectButton [options]="types2" [disabled]="isDisabled"
                                                [(ngModel)]="sfxw" name="sfxwValue"
                                                (click)="selectedTypea4(sfxw)"></p-selectButton>
                            </div>
                        </div>
                    </div>

                    <div class="inputArea fl">
                        <div class="inputLeft fl">
                            <span>土地使用证</span>
                        </div>
                        <div class="inputRight fl">
                            <input [disabled]="isDisabled" type="text" [(ngModel)]="name_active_data.tdsyz" name="tdzh">
                        </div>
                    </div>

                    <div class="inputArea fl">
                        <div class="inputLeft fl">
                            <span>房屋产权证 </span>
                        </div>
                        <div class="inputRight fl">
                            <input [disabled]="isDisabled" type="text" [(ngModel)]="name_active_data.fwcqz"
                                   name="fwcqz">
                        </div>
                    </div>

                    <div class="inputArea fl rl zydl">
                        <div class="inputLeft fl">
                            <span>房屋性质</span>
                        </div>

                        <div class="inputRight fl">
                            <input [disabled]="isDisabled" class='inputH' type="text"
                                   [(ngModel)]="name_active_data.fwxzmc" name="fwxzmc" (click)="showFwxzBlock()"
                                   readonly="readonly"/>
                            <i class="xiala" (click)="showFwxzBlock()"></i>
                            <app-sec-type-list (SelectModel)="getChildFwxz($event)" [treeList]="fwxzTreeList"
                                               [isShow]="isShowFwxz"
                                               [tableList]="fwxzTableList"></app-sec-type-list>

                        </div>


                    </div>

                    <div class="inputArea fl rl zydl">
                        <div class="inputLeft fl">
                            <span>房屋主要用途</span>
                        </div>
                        <div class="inputRight fl">
                            <input [disabled]="isDisabled" class='inputH' type="text"
                                   [(ngModel)]="name_active_data.fwzyytmc" name="fwzyytmc" (click)="showFwzyytBlock()"
                                   readonly="readonly"/>
                            <i class="xiala" (click)="showFwzyytBlock()"></i>
                            <app-sec-type-list (SelectModel)="getChildFwzyyt($event)" [treeList]="fwzyytTreeList"
                                               [isShow]="isShowFwzyyt"
                                               [tableList]="fwzyytTableList"></app-sec-type-list>

                        </div>


                    </div>
                    <!--<div class="inputArea fl">-->
                    <!--<div class="inputLeft fl">-->
                    <!--<span>房产证号</span>-->
                    <!--</div>-->
                    <!--<div class="inputRight fl">-->
                    <!--<input [disabled]="isDisabled" type="text" [(ngModel)]="name_active_data.fczh" placeholder="请输入房产证号" name="fczh">-->
                    <!--</div>-->
                    <!--</div>-->


                    <div class="inputArea fl">
                        <div class="inputLeft fl">
                            <span>断面编号</span>
                        </div>
                        <div class="inputRight fl">
                            <input [disabled]="isDisabled" type="text" [(ngModel)]="name_active_data.dmbh" name="dmbh">
                        </div>
                    </div>

                    <div class="inputArea fl">
                        <div class="inputLeft fl">
                            <span>所在高层</span>
                        </div>
                        <div class="inputRight fl">
                            <input [disabled]="isDisabled" type="number" [(ngModel)]="name_active_data.szgc" name="szgc">
                        </div>
                    </div>
                    <div class="inputArea fl">
                        <div class="inputLeft fl">
                            <span>调查流水号</span>
                        </div>
                        <div class="inputRight fl">
                            <input [disabled]="isDisabled" type="text" [(ngModel)]="name_active_data.dclsh"
                                   name="dclsh">
                        </div>
                    </div>
                    <div class="inputArea fl">
                        <div class="inputLeft fl">
                            <span>门牌号</span>
                        </div>
                        <div class="inputRight fl">
                            <input [disabled]="isDisabled" type="text" [(ngModel)]="name_active_data.mph" name="mph">
                        </div>
                    </div>
                    <div class="inputArea fl">
                        <div class="inputLeft fl">
                            <span>竣工日期</span>
                        </div>
                        <div class="inputRight fl">
                            <app-p-calendar [disabled]="isDisabled" [disabled]="isDisabled"
                                            [value]="name_active_data.jgrq"
                                            (SelectModel)="eventJgrq($event)" readonly="readonly"></app-p-calendar>

                        </div>
                    </div>
                    <div class="clearfix beizhu ">
                        <div class="textareaBeizhu">
                            <span>备注 </span>
                        </div>
                        <textarea name="bz" id="bz" [disabled]="isDisabled" [disabled]="isDisabled" cols="30" rows="10"
                                  class="textarea" name="bz"
                                  [(ngModel)]="name_active_data.bz"></textarea>
                    </div>
                </div>
            </div>

        </div>

    </p-panel>

</form>
<div class="clearfix mar_top">
    <p-panel toggleable="true" *ngIf="name_active_data" expandIcon="fa-angle-double-up"
             class="panel clearfix" collapseIcon="fa-angle-double-down">


        <p-header class="header_bg">
            <div class="title" style="padding: 0;border: none;">
                房屋分类信息
            </div>
        </p-header>

        <div *ngIf="name_active_base">


            <div>
                <p-selectButton [options]="types3" [(ngModel)]="selectedType3"
                                (click)="selectedTypea3()"
                ></p-selectButton>
            </div>

            <div class="tab_box clearfix mg_top_10">
                <div class="form clearfix" *ngIf="showTable==1">

                    <div class="fl rl">
                        <input type="text" [(ngModel)]="searchKeyword"
                               (ngModelChange)="searchList($event,searchKeyword)"
                               class="searchInput" placeholder="类别名称">
                    </div>


                    <div class="btnGrop fr">
                        <ul>
                            <li class="fl" (click)="showAll(true)" *ngIf="isShow">
                                <span class="img icon fa fa-square-o"></span>
                                显示非空项
                            </li>
                            <li class="fl" (click)="showAll(false)" *ngIf="!isShow">
                                <span class="img icon fa fa-check-square"></span>
                                显示所有项
                            </li>
                        </ul>
                    </div>
                </div>


                <div *ngIf="showTable==1" class="clearfix boxShadow foot_boxShadow">


                    <div *ngFor="let TreeTable of name_active_base;let i = index;" class="group-4 fl fl foot_box"
                         [ngClass]="{'group-4':name_active_base?.length==4,'group-3':name_active_base?.length==3,'group-2':name_active_base?.length==2,'group-1':name_active_base?.length==1}">

                        <p-treeTable toggleColumnIndex="1" ui-treetable-tablewrapper [tableStyle]="{'padding':'10px'}" [value]="TreeTable"
                                     (onNodeSelect)="TreeTableClick($event,TreeTable,$event.node,i)"
                                     selectionMode="single"
                                     [(selection)]="selectedFile"
                                     [style]="{'margin-top':'20px','border':'1px solid #cccccc'}">
                            <p-column field="zdxxh" header="序号">
                                <!--<ng-template let-node="rowData" pTemplate="body">-->
                                <!--<input [disabled]="isDisabled" type="text"  style="width:100%;border-width:0px 0px 1px 0px">-->
                                <!--</ng-template>-->
                            </p-column>
                            <p-column field="zdxmc" header="类别">
                                <ng-template let-node="rowData" pTemplate="body">
                                <span style="width:100%;border-width:0px 0px 1px 0px"
                                      [ngClass]="{'search_bg':node.data?node.data.searchRsut:false}">{{node.data.zdxmc}}</span>
                                </ng-template>
                            </p-column>
                            <p-column field="jzmj" header="面积">
                                <ng-template let-col let-node="rowData" pTemplate="body">
                                    <input type="text" style="width:100%;" [(ngModel)]="node.data.jzmj"
                                           (keydown)="calc($event,node)"
                                           [disabled]="node.children != null || is_disabled"
                                           (click)="Tree_update(TreeTable,node,i)"
                                           (keyup)="Tree_update(TreeTable,node,i)">
                                </ng-template>
                            </p-column>
                            <p-column field="dwmc" header="单位">
                                <!--<ng-template let-node="rowData" pTemplate="body">-->
                                <!--<input [disabled]="isDisabled" type="text"  style="width:100%;border-width:0px 0px 1px 0px">-->
                                <!--</ng-template>-->
                            </p-column>

                            <p-column field="bz" header="备注">
                                <ng-template let-col let-node="rowData" pTemplate="body">
                                    <input [disabled]="isDisabled" type="text" style="width:100%;"
                                           [(ngModel)]="node.data.bz"
                                           (click)="Tree_update(TreeTable,node,i)"
                                           (input)="Tree_update(TreeTable,node,i)" [disabled]="is_disabled">
                                </ng-template>
                            </p-column>
                        </p-treeTable>


                    </div>
                </div>


                <form #ggmxlist="ngForm">

                    <div *ngIf="showTable==2" class="clearfix">
                        <div class="btnGrop">
                            <ul *ngIf="!isDisabled">
                                <li class="fl" (click)="addGgmx()">
                                    <span><img src="assets/img/icon/jiahao.png" alt=""></span>
                                    新增
                                </li>
                                <li class="fl" (click)="delGgmx()">
                                    <span><img src="assets/img/icon/x.png" alt=""></span>
                                    删除
                                </li>
                                <li class="fl" (click)="HzGgmx()">
                                    <span><img src="assets/img/icon/x.png" alt=""></span>
                                    汇总
                                </li>
                            </ul>
                        </div>

                        <div class="clearfix">
                            <p-dataTable  resizableColumns="true" [value]="ggmx" class="table" dataKey="xh"
                                         (onRowClick)="DatatableClick($event)" [emptyMessage]="'查询数据为空'"
                                         responsive="true"
                                         selectionMode="single">
                                <p-column field="xh" title="mc" header="序号" [bodyStyle]="{'text-align':'left'}">
                                    <ng-template let-col let-i="rowIndex" let-car="rowData" pTemplate="body">
                                        <span #defaultPerson>{{i+1}}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="fwjgdm" header="房屋结构">
                                    <ng-template let-col let-node="rowData" pTemplate="body">
                                        <!--<div>{{node.fwjgdm}}</div>-->
                                        <div *ngFor="let item of tableList;">
                                            <span *ngIf="item.fwjgdm==node.fwjgdm">{{item.zdxmc}}</span>
                                        </div>

                                    </ng-template>
                                </p-column>
                                <p-column field="cs" header="层数">
                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                        <span>{{car[col.field]}}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="cgxs" header="层高系数">
                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                        <span>{{car[col.field]}}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="wmcl" header="屋面材料">
                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                        <span>{{car[col.field]}}</span>
                                    </ng-template>
                                </p-column>
                                <!--<p-column field="zjzmj" header="建筑总面积">-->
                                    <!--<ng-template let-col let-car="rowData" pTemplate="body">-->
                                        <!--<span>{{car[col.field]}}</span>-->
                                    <!--</ng-template>-->
                                <!--</p-column>-->
                                <p-column field="ggcc" header="丈量尺寸">
                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                        <span>{{car[col.field]}}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="jzmj" header="建筑面积">
                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                        <span>{{car[col.field]}}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="dw" header="单位">
                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                        <span>{{car[col.field]}}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="bz" header="备注">
                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                        <span>{{car[col.field]}}</span>
                                    </ng-template>
                                </p-column>
                                <p-footerColumnGroup>
                                    <p-row>
                                        <p-column footer="面积合计:" colspan="6"></p-column>
                                        <p-column footer={{ggmxTotals}} colspan="1"></p-column>
                                        <p-column footer="" colspan="2"></p-column>

                                   </p-row>
                                </p-footerColumnGroup>
                            </p-dataTable>

                        </div>


                        <div class="clearfix modalInput" *ngIf="ggmx != null && ggmx[GgmxIndex]">
                            <div class="inputArea fl rl zydl">
                                <div class="inputLeft fl">
                                    <span class="importent">房屋结构</span>
                                </div>

                                <div class="inputRight fl">
                                    <input [disabled]="isDisabled" class='inputH' type="text"
                                           [(ngModel)]="ggmx[GgmxIndex]['zdxmc']" name="zdxmc"
                                           (click)="showytjjgBlock()"
                                           readonly="readonly"/>

                                    <i class="xiala" (click)="showytjjgBlock()"></i>
                                    <p-tree *ngIf="isShowytjjg" [value]="ytjjgTreeList" name='label'
                                            [(ngModel)]="ggmx[GgmxIndex].fwjgdm" expanded selectionMode="single"
                                            [(selection)]="selectedFile"
                                            (onNodeSelect)="getChildytjjg($event)"

                                            ngDefaultControl>
                                    </p-tree>
                                </div>
                            </div>
                            <div class="inputArea fl">
                                <div class="inputLeft fl">
                                    <span>层数</span>
                                </div>
                                <div class="inputRight fl">
                                    <input [disabled]="isDisabled" type="number" name="cs"
                                           [(ngModel)]="ggmx[GgmxIndex]['cs']">
                                </div>
                            </div>
                            <div class="inputArea fl">
                                <div class="inputLeft fl">
                                    <span>层高系数</span>
                                </div>
                                <div class="inputRight fl">
                                    <input [disabled]="isDisabled" type="number" name="cgxs"
                                           [(ngModel)]="ggmx[GgmxIndex]['cgxs']">
                                </div>
                            </div>
                            <div class="inputArea fl">
                                <div class="inputLeft fl">
                                    <span>屋面材料</span>
                                </div>
                                <div class="inputRight fl">
                                    <input [disabled]="isDisabled" type="text" name="wmcl"
                                           [(ngModel)]="ggmx[GgmxIndex]['wmcl']">
                                </div>
                            </div>
                            <div class="inputArea fl">
                                <div class="inputLeft fl">
                                    <span>丈量尺寸</span>
                                </div>
                                <div class="inputRight fl">
                                    <input [disabled]="isDisabled" type="text" name="ggcc"
                                           [(ngModel)]="ggmx[GgmxIndex]['ggcc']">
                                </div>
                            </div>


                            <div class="fl group group-4 danwei">
                                <span>建筑面积</span>
                                <input [disabled]="isDisabled" type="number" name="jzmj"
                                       [(ngModel)]="ggmx[GgmxIndex]['jzmj']">
                                <div class="fl mianji">
                                    ㎡
                                </div>

                            </div>
                            <!--<div class="inputArea fl">-->
                            <!--<div class="inputLeft fl">-->
                            <!--<span>备注</span>-->
                            <!--</div>-->
                            <!--<div class="inputRight fl ">-->
                            <!--<input [disabled]="isDisabled" type="text">-->
                            <!--</div>-->

                            <!--</div>-->
                            <div class="clearfix beizhu ">
                                <div class="textareaBeizhu">
                                    <span>备注 </span>
                                </div>
                                <textarea [disabled]="isDisabled" name="bz" cols="30" rows="10" class="textarea"
                                          [(ngModel)]="ggmx[GgmxIndex]['bz']"></textarea>
                            </div>
                        </div>


                    </div>
                </form>


            </div>

        </div>

    </p-panel>
</div>
<p-growl [(value)]="msgs"></p-growl>

