.containerEng{
    padding: 15px;
    overflow-y: auto;
    padding-bottom: 50px;
}
li.fl.group.group-3{
    max-height: 50px;
}

.header{
    border-bottom: 1px solid #cccccc;
    font-size: 15px;

}
.tableEng{
    padding: 18px;
    background: #f5f6fa;
    border-bottom: 1px solid #cccccc;
}
.areaSelect li{
    color: #666666;
}
.areaSelect li.active{
    background: #546478;
    color: white;
}
.body{
    border: none;
    padding: 15px;
}
.engBody{
    margin-top: 15px;
    padding-left: 1px;
}
:host
/deep/
.sle select.alertSelect{
    width: calc(100% - 45px);
    padding: 4.5px;
}
.sle{
    width: 200px;
    margin-right: 15px;
}
.t{
    display: inherit;
}
.searchInput{
    margin-top: 0px;
}
.btn-group{
    position: fixed;
    bottom: 0px;
    width: calc(100% - 180px);
    border-top: 1px solid #ccc;
    padding-top: 20px;
    background: white;
    margin-left: -15px;
    height: 50px;

}
.secd_title{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-left: 20px;

}
.secd_title span{
    border-left: 2px solid #0099cb;
    padding-left: 20px;
}
.img_des{
    margin: 10px -15px 0px;
    border-top: 1px solid #0099cd;
    text-align: center;

}
.del{
    position: absolute;
    right: 0px;
    top: 0px;
    color: #2399e5;
    display: none;
    cursor: pointer;
    border: 1px solid #0099cb;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 3px;
    padding: 2px 4px;
}
.del span{
    color: #0099cb;
}
.check{
    width: 20px;
    left: 0;
    border-left: none;
    border-right: 1px solid #0099cb;
    border-radius: 0 0 3px 0;
}


.hover{
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
    display: none;
    background: #0099cb;
    padding: 2px;
    cursor: pointer;
}
.wj_box:hover .del{
    display: block;
}
.wj_box:hover .hover{
    display: block;
}
.imgShow{
    height: 90px;
    overflow: hidden;
}
