<div [@flyIn] style="height: 100%">
<div class="fl letfNav nav">
    <div class="gc_title">
        <span><img src="assets/img/icon/diquxuanze.png" alt="" class="img"></span>
        工程选择
    </div>
    <div class="rl cl">
        <app-select-list [placeholderValue]="'请选择工程'"
                [width]="0" [values]="gcList" [search]="true" (SelectModel)="getProjectId($event)"></app-select-list>
    </div>

    <div>
        <app-treeList [value]="treelist" (childEvent)="getAreaCode($event)"></app-treeList>
    </div>
</div>
<div class="fl sec_nav nav">
    <div class="three_title">
        <span>权属户类别</span>
    </div>
    <app-gc-list class="common" type="zbfl" [value]="qshlbUrl" (selectProject)="getQsrlxzdxId($event)"></app-gc-list>
</div>
<div class="fl conBody">
    <div class="title_box">
        <span class="title">权属户涉及实物指标管理项配置</span>

    </div>
    <header class="clearfix">
        <div class="fl">
            <span>阶段：</span>
            <app-select-list [width]="40" [values]="jdList" [search]="false"
                             (SelectModel)="getGzjdId($event)"></app-select-list>
        </div>
        <div class="fl">
            <input type="text" (keydown)="searchList($event,key)" [(ngModel)]="key" class="searchInput" placeholder="名称">
            <span class="btnClick" (click)="searchList('click',key)"></span>
        </div>
        <div class="btnGrop fr">
            <ul>
                <li class="fl" (click)="showAll(1)" *ngIf="isShow1">
                    <span class="img icon fa fa-square-o"></span>
                    显示非空项
                </li>
                <li class="fl" (click)="showAll(2)" *ngIf="!isShow1">
                    <span class="img icon fa fa-check-square"></span>
                    显示所有项
                </li>
                <li class="fl" (click)="selectAll(1)" *ngIf="isShow2">
                    <span class="img icon fa fa-plus-square"></span>
                    全选
                </li>
                <li class="fl" (click)="selectAll(2)" *ngIf="!isShow2">
                    <span class="img icon fa fa-minus-square"></span>
                    取消全选
                </li>
                <li class="fl" (click)="saveAll(4)"><span class="img"><img src="assets/img/icon/save2.png"
                                                                           alt=""></span>保存
                </li>
              </ul>
        </div>
    </header>
    <div>

            <p-dataTable emptyMessage=" " [value]="TreeTable" (onNodeSelect)="onRowSelect($event)"
                         class="table"   resizableColumns="true"  [style]="{'margin-top':'15px'}">
                <p-column field="isCheck" title="mc" header="选择" [style]="{'width':'50px'}">
                    <ng-template let-col let-node="rowData" pTemplate="body">

                        <p-checkbox  name="groupname" binary="true" [(ngModel)]="node.isCheck" (onChange)="checkbox(node,node.isCheck)"></p-checkbox>
                    </ng-template>
                </p-column>


                <p-column field="swzbflmc" title="mc" header="指标分类" [bodyStyle]="{'text-align':'left'}">
                    <ng-template let-col let-node="rowData" pTemplate="body">
                        <input [(ngModel)]="node.swzbflmc" type="text" style="width:100%">
                        <!--<span>{{car[col.field]}}</span>-->
                    </ng-template>
                </p-column>

                <p-column field="zdxmc" title="mc" header="管理项名称" [bodyStyle]="{'text-align':'left'}">
                    <ng-template let-col let-node="rowData" pTemplate="body">
                        <input [(ngModel)]="node.zdxmc" type="text" style="width:100%">
                        <!--<span>{{car[col.field]}}</span>-->

                    </ng-template>
                </p-column>
                <p-column field="url" header="页面地址">
                    <ng-template let-col let-car="rowData" pTemplate="body">
                        <input [(ngModel)]="car[col.field]" type="text" style="width:100%">
                    </ng-template>
                </p-column>
                <p-column field="pxh" header="排序号"[style]="{'width':'60px'}">
                    <ng-template let-col let-car="rowData" pTemplate="body">
                        <input [(ngModel)]="car[col.field]" type="text" style="width:100%">
                    </ng-template>
                </p-column>
                <!--<p-column field="bz" header="备注">-->
                    <!--<ng-template let-col let-car="rowData" pTemplate="body">-->
                        <!--<input [(ngModel)]="car[col.field]" type="text" style="width:100%">-->
                    <!--</ng-template>-->
                <!--</p-column>-->

            </p-dataTable>
    </div>
</div>
<p-growl [(value)]="msgs"></p-growl>
</div>