<p-dialog modal="modal" [(visible)]="display1"
          [style]="{'width':'100%','height':'100%','padding':'0','margin':'0','padding-bottom':'100px'}"
          [contentStyle]="{'width':'100%','height':'100%','margin':'0','overflow':'auto',left:'0px'}"
          height="100%" width="100%" [breakpoint]="1000">
  <p-header>
    <div>[{{ghzb_data.xmmc}}]规划指标详情信息</div>
    <div class="showClose">
      <img src="/assets/img/icon/bigest.png" alt="最大化" (click)="bigest()">
      <img src="/assets/img/icon/x.png" alt="关闭" (click)="closeModal(1)">
    </div>
  </p-header>


  <div class="moduleAlert">
    <div class="wraper">
      <div class="com">
        <h4 class="title-1 pb-4">基本信息</h4>
        <div class="form clearfix">
          <div class="group group-3 red align">
            <label>{{Title.mc}}：</label>
            <input type="" name="mc" [formControl]="xmmc" id="" value="" [(ngModel)]="ghzb_data.xmmc"  >
          </div>
          <div class="group group-3 red align">
            <label>{{Title.jc}}：</label>
            <input type="" name="jc" id="" [formControl]="xmjc" value="" [(ngModel)]="ghzb_data.xmjc"  >
          </div>

          <div class="group group-3 red align">
            <label>{{Title.qy}}：</label>
            <select>
              <option>一级</option>
              <option selected="selected">二级</option>
              <option>三级</option>
            </select>
          </div>
        </div>
        <div>
          <div class="inputArea rl fl langest">
            <div class="inputLeftSelect fl ">
              <span class="importent">管理所属行政区划：</span>
            </div>
            <div class="inputRight fl">
              <input [disabled]="isDisabled" [(ngModel)]="ghzb_data.xmgldwxzqhmc" type="text" class="inputH"
                     name="swszxzqhmc" readonly="readonly" (click)="showAreaBlock()">
              <span class="xiala" (click)="showAreaBlock()"></span>
              <app-area-select class="areaCommpont" [display]="isShowArea" [localityCode]="1212222"
                               (childEvent)="getChildSzxzqh($event)"></app-area-select>
              <!--<input [disabled]="isDisabled" type="text" value="王友群">-->
            </div>
          </div>
        </div>





      </div>


      <header class="clearfix">
        <div class="fl">
          <div class="fl"  (click)="selectName(1)"
               [ngClass]="{'active':selectType == 1}" >量化指标信息</div>
          <div class="fl" (click)="selectName(2)"
               [ngClass]="{'active':selectType == 2}" >非量化指标信息</div>
        </div>
      </header>
      <div class="com" *ngIf="selectType == 1">

        <div class="btnGrop fr">

          <ul class="clearfix">
            <li class="fl" (click)="showAll(true)" *ngIf="isShow">
              <span class="img icon fa fa-square-o"></span>
              显示非空项
            </li>
            <li class="fl" (click)="showAll(false)" *ngIf="!isShow">
              <span class="img icon fa fa-check-square"></span>
              显示所有项
            </li>
            <div class="fl" (click)="Clear('rew')"><span class="img"><img src="assets/img/icon/brush_fill.png"
                                                                          alt=""></span>清空所有
            </div>
          </ul>


        </div>
        <div class="body clearfix">
          <p-dataTable [value]="ghzb_data.flbmxList" dataKey="zdxxh"

                       [emptyMessage]="'查询数据为空'"
                       responsive="true">
            <p-column field="zdxxh" header="序号"></p-column>
          <p-column field="zdxmc" header="指标名称"></p-column>
          <p-column field="sl" header="数量" [editable]="true" >
            <ng-template let-col let-i="rowIndex" let-car="rowData" pTemplate="body">
              <input [disabled]="isDisabled" type="text"  [(ngModel)]="car.sl"  (ngModelChange)="tableChange(car)">
            </ng-template>
          </p-column>
          </p-dataTable>





        </div>
      </div>

      <div class="com no-bor" *ngIf="selectType ==2">
        <div class="form clearfix">
          <div class="group group-2 ">
            <label>所在位置：</label>
            <input type="" name="szwz" id="" value="" [(ngModel)]="ghzb_data.ghxmjbxx.szwz"  >
          </div>
          <div class="group group-2 group-2-1 ">
            <label>规划投资：</label>
            <input type="text" name="ghtz" id="" value="" [(ngModel)]="ghzb_data.ghxmjbxx.ghtz" >
            <div class="unit">万元</div>
          </div>
          <div class="group group-0 ">
            <label>规划方案摘要：</label>
            <textarea name="ghfazy" rows="ghfazy" cols="" [(ngModel)]="ghzb_data.ghxmjbxx.ghfazy"  ></textarea>
          </div>
          <div class="group group-0 ">
            <label>备注：</label>
            <textarea name="bz" rows="" cols="" [(ngModel)]="ghzb_data.ghxmjbxx.bz"  ></textarea>
          </div>

        </div>
      </div>

      <div class="btn-group icon margin_top_20">
        <a class="" href="javascript:;">保存</a>
        <a href="javascript:;">保存并新增</a>
        <a href="javascript:;">退出</a>
      </div>

    </div>
  </div>

</p-dialog>