<p-dialog modal="modal" [(visible)]="display1"
          [style]="{'width':'100%','height':'100%','padding':'0','margin':'0','padding-bottom':'100px'}"
          [contentStyle]="{'width':'100%','height':'100%','margin':'0','overflow':'auto',left:'0px'}"
          height="100%" width="100%" [breakpoint]="1000">
  <p-header>
    <div>[省道307]规划指标详情信息</div>
    <div class="showClose">
      <img src="/assets/img/icon/bigest.png" alt="最大化" (click)="bigest()">
      <img src="/assets/img/icon/x.png" alt="关闭" (click)="closeModal(1)">
    </div>
  </p-header>


  <div class="moduleAlert">
    <div class="wraper">
      <div class="com">
        <h4 class="title-1 pb-4">基本信息</h4>
        <div class="form clearfix">
          <div class="group group-3 red align">
            <label>{{Title.mc}}：</label>
            <input type="" name="" id="" value="" [(ngModel)]="this.ghzb_data.datalist.xmmc" placeholder="省道S307">
          </div>
          <div class="group group-3 red align">
            <label>{{Title.jc}}：</label>
            <select>
              <option>省道S307</option>
            </select>
          </div>
          <div class="group group-3 red align">
            <label>{{Title.qy}}：</label>
            <select>
              <option>一级</option>
              <option selected="selected">二级</option>
              <option>三级</option>
            </select>
          </div>
        </div>
        <div>
          <div class="inputArea rl fl langest">
            <div class="inputLeftSelect fl ">
              <span class="importent">管理所属行政区划</span>
            </div>
            <div class="inputRight fl">
              <input [disabled]="isDisabled" type="text" class="inputH"
                     name="swszxzqhmc" readonly="readonly" (click)="showAreaBlock()">
              <span class="xiala" (click)="showAreaBlock()"></span>
              <app-area-select class="areaCommpont" [display]="isShowArea" [localityCode]="1212222"
                               (childEvent)="getChildSzxzqh($event)"></app-area-select>
              <!--<input [disabled]="isDisabled" type="text" value="王友群">-->
            </div>
          </div>
        </div>
      </div>


      <header class="clearfix">
        <div class="fl">
          <div class="fl"  (click)="selectName(1)"
               [ngClass]="{'active':selectType == 1}" >量化指标信息</div>
          <div class="fl" (click)="selectName(2)"
               [ngClass]="{'active':selectType == 2}" >非量化指标信息</div>
        </div>
      </header>
      <div class="com" *ngIf="selectType == 1">

        <p-treeTable ui-treetable-tablewrapper [tableStyle]="{'padding':'10px'}" [value]="treelist"
                     (onNodeSelect)="TreeTableClick($event,treelist,$event.node)"
                     selectionMode="single"
                     [style]="{'margin-top':'20px','border':'1px solid #cccccc'}">
          <p-column field="dlzbfldm" header="序号">
            <!--<ng-template let-node="rowData" pTemplate="body">-->
            <!--<input [disabled]="isDisabled" type="text"  style="width:100%;border-width:0px 0px 1px 0px">-->
            <!--</ng-template>-->
          </p-column>
          <p-column field="label" header="指标名称">
            <ng-template let-node="rowData" pTemplate="body">
                                <span style="width:100%;border-width:0px 0px 1px 0px"
                                      [ngClass]="{'search_bg':node.data?node.data.searchRsut:false}">{{node.data.label}}</span>
            </ng-template>
          </p-column>
          <p-column field="sl" header="数量">
            <ng-template let-col let-node="rowData" pTemplate="body">
              <input type="text"  style="width:100%;"
                     [(ngModel)]="node.data.sl"
                     (ngModelChange)="update()">
            </ng-template>
          </p-column>
          <!--<p-column field="dwmc" header="单位">-->
            <!--&lt;!&ndash;<ng-template let-node="rowData" pTemplate="body">&ndash;&gt;-->
            <!--&lt;!&ndash;<input [disabled]="isDisabled" type="text"  style="width:100%;border-width:0px 0px 1px 0px">&ndash;&gt;-->
            <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
          <!--</p-column>-->

          <p-column field="bz" header="备注">
            <ng-template let-col let-node="rowData" pTemplate="body">
              <input [disabled]="isDisabled" type="text" style="width:100%;" [(ngModel)]="node.data.bz"
                     (ngModelChange)="update()">
            </ng-template>
          </p-column>
        </p-treeTable>



        <!--<div class="form clearfix">-->
          <!--<div class="group float-r">-->
            <!--<input type="checkbox" name="" id="" value="">-->
            <!--<label class="text-left">仅显示非空项</label>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="table-wrap">-->
          <!--<table class="table">-->
            <!--<thead>-->
            <!--<tr>-->
              <!--<td>序号</td>-->
              <!--<td>名称</td>-->
              <!--<td>数量</td>-->
              <!--<td>单位</td>-->
              <!--<td>备注</td>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
              <!--<td>1</td>-->
              <!--<td class="">总里程</td>-->
              <!--<td>26.430</td>-->
              <!--<td>km</td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>2</td>-->
              <!--<td class="">设计时速</td>-->
              <!--<td>60</td>-->
              <!--<td>km/h</td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>3</td>-->
              <!--<td class="">建设占地</td>-->
              <!--<td></td>-->
              <!--<td></td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>3.1</td>-->
              <!--<td style="padding-left: 20px">总面积</td>-->
              <!--<td></td>-->
              <!--<td>㎡</td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>3.2</td>-->
              <!--<td style="padding-left: 20px">永久征地</td>-->
              <!--<td></td>-->
              <!--<td>㎡</td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>4</td>-->
              <!--<td>道路</td>-->
              <!--<td></td>-->
              <!--<td></td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>4.1</td>-->
              <!--<td style="padding-left: 20px">路线长度</td>-->
              <!--<td>26.430</td>-->
              <!--<td>km</td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>4.2</td>-->
              <!--<td style="padding-left: 20px">路基宽度</td>-->
              <!--<td>16.5</td>-->
              <!--<td>m</td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>4.3</td>-->
              <!--<td style="padding-left: 20px">路面宽度</td>-->
              <!--<td></td>-->
              <!--<td>m</td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>4.4</td>-->
              <!--<td style="padding-left: 20px">主要工程量</td>-->
              <!--<td></td>-->
              <!--<td>m</td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>4.4.1</td>-->
              <!--<td style="padding-left: 30px">土石方开挖</td>-->
              <!--<td></td>-->
              <!--<td>m</td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>4.4.2</td>-->
              <!--<td style="padding-left: 30px">土石方回填</td>-->
              <!--<td></td>-->
              <!--<td>m</td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>4.4.3</td>-->
              <!--<td style="padding-left: 30px">砌筑</td>-->
              <!--<td></td>-->
              <!--<td>m</td>-->
              <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>4.4.4</td>-->
              <!--<td style="padding-left: 20px">路面浇筑</td>-->
              <!--<td></td>-->
              <!--<td>m</td>-->
              <!--<td></td>-->
            <!--</tr>-->


            <!--</tbody>-->

          <!--</table>-->
        <!--</div>-->
      </div>

      <div class="com no-bor" *ngIf="selectType ==2">
        <div class="form clearfix">
          <div class="group group-2 ">
            <label>所在位置：</label>
            <input type="" name="" id="" value="" placeholder="省道S307">
          </div>
          <div class="group group-2 group-2-1 ">
            <label>规划投资：</label>
            <input type="text" name="ghtz" id="" value="" [(ngModel)]="ghzb_data['datalist'][0]['ghxmjbxx']['ghtz']" >
            <div class="unit">万元</div>
          </div>
          <div class="group group-0 ">
            <label>规划方案摘要：</label>
            <textarea name="ghfazy" rows="" cols="" [(ngModel)]="ghzb_data['datalist'][0]['ghxmjbxx']['ghfazy']"  ></textarea>
          </div>
          <div class="group group-0 ">
            <label>备注：</label>
            <textarea name="bz" rows="" cols="" [(ngModel)]="ghzb_data['datalist'][0]['ghxmjbxx']['bz']"  ></textarea>
          </div>

        </div>
      </div>

      <div class="btn-group icon margin_top_20">
        <a class="" href="javascript:;">保存</a>
        <a href="javascript:;">保存并新增</a>
        <a href="javascript:;">退出</a>
      </div>

    </div>
  </div>

</p-dialog>