<app-header-nav></app-header-nav>
<div class="container1 rl">
  <div class="logBox">
    <div class="loginModule">
    <div class="header">密码登录</div>
    <div>
        <div class="warn">登录管理需向管理员索取账号及密码</div>
        <div class="">
          <input type="text" class="searchInput1" placeholder="请输入您的账号" required>
          <input type="password" class="searchInput1 pasword" placeholder="登陆密码">
          <div class="loginBtn" (click)="login()">
              登录
          </div>
          <div class="fanghui">
            <span>返回首页</span>
            <span>联系我们</span>
          </div>
        </div>
    </div>
  </div>
  </div>
  <div class="footer clearfix">
    <div class="fl">长江水利委员会@2017</div>
    <div class="fr">
      <ul>
        <li class="fl">欢迎使用本系统</li>
        <li class="fl">|</li>
        <li class="fl">联系我们</li>
      </ul>
    </div>
  </div>
</div>