<!--<p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>-->
<!--<select name="zdlb" class="alertSelect" [(ngModel)]="value" (click)="OutPutValue(value)">-->
<!--<option *ngFor="let item of list" [value]="item.code" selected="selected" >{{item.name}}</option>-->

<!--</select>-->
<!--<p-dropdown [style]="{'width':'calc(100% - 100px)','color':'#666666'}" [options]="list" [(ngModel)]="selected" (onChange)="OutPutValue(selected)"></p-dropdown>-->

<div class="inlin" [style.width]=reswidth  >
    <p-dropdown [style]="{'width':'14rem','color':'#666666'}" [disabled]="isdisabled" [options]="values" [(ngModel)]="selected"
               [placeholder]="placeholderValue"        [filter]="search"    filterBy="label"  [editable]="isEdit"    (onChange)="OutPutValue(selected)"></p-dropdown>
</div>
