<div class="secNav fl  rl" [ngClass]="{'yy':isAdd}">
    <div class="list clearfix" *ngFor="let list of NavValue;">
        <div class="biaotou fl">
            <span>{{list.mc}}</span>
            <span class="img1"><img src="assets/img/icon/chevron-right.png" alt=""></span>
        </div>
        <ul class="fl ul_list ">

            <li class="fl rl " *ngFor="let secList of list.content">
                <!--<div (click)="close()"-->
                <!--[routerLink]="[routLink+'/'+projectId+'/'+list.routerLink+'/'+secList.mc,secList.id]">{{secList.mc}}-->
                <!--</div>-->
                <div (click)="close()" *ngIf="secList.listZdk ==null"
                     [routerLink]="[routLink+'/'+projectId+'/'+list.routerLink+'/'+secList.mc,secList.id]">
                    {{secList.mc}}
                </div>


                <div *ngIf="secList.listZdk!=null" class="po">{{secList.mc}}</div>
                <div *ngIf="secList.listZdk!=null" class="alertSelect">
                    <span (click)="close()" *ngFor="let threeList of secList.listZdk"
                          [routerLink]="[routLink+'/'+projectId+'/'+list.routerLink+'/'+threeList.mc,threeList.id]">
                    <!--[routerLink]="[routLink+'/'+projectId+'/'+list.routerLink+'/'+secList.mc+'/'+threeList.mc,threeList.id]">-->
                       {{threeList.mc}}
                    </span>
                </div>

            </li>
        </ul>
    </div>
    <div class="close" (click)="close()"><span class="img"><img src="assets/img/icon/x.png" alt=""></span></div>
</div>
