<div *ngIf="display" class="areaShow boxShadow">
    <div>
        <input class="fl searchInput" type="text" [(ngModel)]="key" (ngModelChange)="searchKey(key)"/>
        <ul class="btnGrop fr" *ngIf="nameList.length!=0">
            <li (click)="confirm()">确定</li>
            <li (click)="clear()">清除</li>
        </ul>
    </div>
    <div class="selected clearfix">
        <span>请选择地区：</span>
        <ul>
            <li class="active fl" *ngFor="let item of nameList">{{item.name}}</li>
        </ul>
    </div>
    <div>
        <ul>
            <li class="fl list" (click)="selectProvice(i.localityName,i.localityCode,i.localityDesc)"
                *ngFor="let i of areaList">
                {{i.localityName}}
            </li>
        </ul>
    </div>

</div>