<div class="clearfix">
  <div class="fl group group-4">
    <span>权属人</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>所在行政区划</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>调查范围</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>名称</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>电信工程类别</span>
    <input type="text">
  </div>
  <div class="fl group group-4 ">
    <span>起始地点</span>
    <input type="text">

  </div>

  <div class="fl group group-2 danwei">
    <span>结束地点</span>
    <input type="text">

  </div>

  <div class="fl group group-4 ">
    <span>隶属关系</span>
    <input type="text">

  </div>

  <div class="fl group group-4 ">
    <span>位置</span>
    <input type="text">

  </div>
  <div class="fl group group-4 danwei">
    <span>征用高程</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>
  <div class="fl group group-4 danwei">
    <span>每杆对数</span>
    <input type="text">
    <div class="fl mianji">
      对
    </div>

  </div>
  <div class="fl group group-2 danwei">
    <span>占地面积</span>
    <input type="text">
    <div class="fl mianji">
      亩
    </div>

  </div>

  <div class="fl group group-4 danwei">
    <span>职工人数</span>
    <input type="text">
    <div class="fl mianji">
      人
    </div>

  </div>


  <div class="fl group group-4">
    <span>征用起始地点</span>
    <input type="text">
  </div>

  <div class="fl group group-4">
    <span>征用结束地点</span>
    <input type="text">
  </div>

  <div class="fl group group-4  danwei">
    <span>征用长度</span>
    <input type="text" >
    <div class="fl mianji">
      km
    </div>
  </div>



  <div class="fl group group-2 ">
    <span>服务范围</span>
    <input type="text">

  </div>
  <div class="fl group group-1 ">
    <span>建成时间</span>
    <input type="text">

  </div>










  <div  class="clearfix beizhu ">
    <div  class="textareaBeizhu">
      <span >备注 </span>
    </div>
    <textarea  class="textarea " cols="30" id="" name="bz" rows="10"  model="所在最低高程"></textarea>
  </div>


</div>