<header>
    <div>
        <p-selectButton [options]="types" [(ngModel)]="selectedType"
                        (click)="selectedTypea1()"></p-selectButton>
        <em>共 <span ></span>人</em>
    </div>
</header>
<div *ngIf="selectedType==1" class="clearfix">
    <div class="left fl">

        <table class="table">
            <thead>
            <tr>
                <td>序号</td>
                <td>姓名</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let personSign of tableList;let i=index" (click)="selectPerson(personSign)" #defaultPerson
                [ngClass]="{'active':personSign==hcy}">
                <td>{{i+1}}</td>
                <td>{{personSign.mc}}</td>
            </tr>
            </tbody>

        </table>
    </div>

    <div class="right fl">
        <div class="header clearfix rl">
            <div class="fl headerTitle">人口详情</div>
            <ul class="fr  btnGrop">
                <li class="fl" (click)="jump()"><span class="img"><img src="assets/img/icon/arrow-back.png"
                                                                       alt=""></span>上一条
                </li>
                <li class="fl" (click)="jump()"><span class="img"><img src="assets/img/icon/arrow-back .png"
                                                                       alt=""></span>下一条
                </li>

                <li class="fl" (click)="addPerson(personSign)"><span class="img"><img src="assets/img/icon/jiahao.png"
                                                                                      alt=""></span>增加
                </li>
                <li class="fl" (click)="delEng(hcy)"><span class="img"><img src="assets/img/icon/brush_fill.png"
                                                                            alt=""></span>删除
                </li>
                <li class="fl">
                    <div class="selectLi rl">
                        更多操作
                        <!--<span class="xiala"></span>-->
                        <!--<div class="fj">-->
                        <!--<span (click)="openFj()">附件查看</span>-->
                        <!--<span>附件管理</span>-->
                        <!--</div>-->
                    </div>
                </li>
            </ul>
        </div>
        <div class="box_botton clearfix">
            <form #person="ngForm">
                <div class="inputBox  rl fl">
                    <div class="input_left fl importent">
                        姓名
                    </div>
                    <div class="input_right fl">
                        <input type="text" class="inputH" value="" [(ngModel)]="hcy.mc" name="mc">
                    </div>

                </div>
                <div class="inputBox  rl fl ">
                    <div class="input_left fl">
                        户别
                    </div>
                    <div class="input_right fl">
                        <p-selectButton [options]="types1" [(ngModel)]="hcy.hbdm" name="hbdm"
                        ></p-selectButton>
                    </div>

                </div>
                <div class="inputBox  rl fl">
                   <span class="input_left fl">
                        与户主关系
                </span>
                    <div class="input_right fl">
                        <app-select-list [width]="0" [values]="selectListHzgx"
                                         (SelectModel)="getChildEvent1($event)"></app-select-list>
                    </div>



                </div>
                <!--简单填写-->
                <div class="inputBox  rl fl">
                    <div class="input_left fl ">
                        身份证号
                    </div>
                    <div class="input_right fl">
                        <input type="text" class="inputH" [(ngModel)]="hcy.sfzh" value="hcy.sfzh" name="sfzh">
                    </div>

                </div>
                <div class="inputBox  rl fl">
                    <div class="input_left fl ">
                        出生日期
                    </div>
                    <div class="input_right fl">
                        <input type="text" class="inputH" [(ngModel)]="hcy.csrq" value="{{hcy.sfzh | cardReform}}"
                               name="csrq">
                        <!--<p-calendar styleClass="timeInput" placeholder="请填入时间"   disabledDates yearNavigator="true"  monthNavigator="true"-->
                        <!--dateFormat="yy-mm-dd"  yearRange="19002030"    [inline]="false"  [locale]="ch" [(ngModel)]="hcy.csrq" name="csrq"></p-calendar>-->
                    </div>

                </div>
                <!--左右点击选择-->
                <div class="inputBox  rl fl clickInput">
                    <div class="input_left fl ">
                        性别
                    </div>
                    <div class="input_right fl">
                        <p-selectButton [options]="types2" [(ngModel)]="hcy.xbdm" name="xbdm"
                        ></p-selectButton>
                    </div>

                </div>
                <!--下拉框-->
                <div class="inputBox  rl fl">
                    <div class="input_left fl ">
                        民族
                    </div>
                    <div class="input_right fl">
                        <app-select-list [width]="0" [values]="selectListHzgx"
                                         (SelectModel)="getChildEvent1($event)"></app-select-list>
                    </div>

                </div>
                <div class="inputBox  rl fl">
                    <div class="input_left fl ">
                        文化程度
                    </div>
                    <div class="input_right fl">
                        <app-select-list [width]="0" [values]="selectListHzgx"
                                         (SelectModel)="getChildEvent1($event)"></app-select-list>
                    </div>


                </div>
                <div class="inputBox  rl fl">
                    <div class="input_left fl">
                        从业情况
                    </div>
                    <div class="input_right fl">
                        <app-select-list [width]="0" [values]="selectListHzgx"
                                         (SelectModel)="getChildEvent1($event)"></app-select-list>
                    </div>

                </div>
                <div class="inputBox  rl fl areaBox">
                    <div class="input_left fl importent">
                        所在行政区划
                    </div>
                    <div class="input_right fl">
                        <input type="text" class="inputH" [(ngModel)]="hcy.szxzqhdm" name="szxzqhdm">
                        <i class="xiala" (click)="showAreaBlock()"></i>
                        <app-area-select class="areaCommpont" [display]="isShowArea"
                                         (childEvent)="getChildEvent($event)"></app-area-select>
                    </div>

                </div>
                <div class="inputBox  rl fl clickInput">
                    <div class="input_left fl ">
                        婚姻状况
                    </div>
                    <div class="input_right fl">
                        <p-selectButton [options]="types3" [(ngModel)]="hcy.hydm" name="hydm"
                        ></p-selectButton>
                    </div>

                </div>
                <div class="inputBox  rl fl">
                    <div class="input_left fl importent">
                        专业大类
                    </div>
                    <div class="input_right fl">
                        <app-select-list [width]="0" [values]="selectListHzgx"
                                         (SelectModel)="getChildEvent1($event)"></app-select-list>
                    </div>

                </div>

                <div class="inputBox  rl fl">
                    <div class="input_left fl importent">
                        调查范围
                    </div>
                    <div class="input_right fl">
                        <app-select-list [width]="0" [values]="selectListHzgx"
                                         (SelectModel)="getChildEvent1($event)"></app-select-list>
                    </div>

                </div>
                <div class="inputBox  rl fl clickInput">
                    <div class="input_left fl importent">
                        是否空挂人
                    </div>
                    <div class="input_right fl">
                        <p-selectButton [options]="types4" [(ngModel)]="hcy.sfkgr" name="sfkgr"
                        ></p-selectButton>
                    </div>

                </div>
                <div class="inputBox  rl fl">
                    <div class="input_left fl ">
                        户口情况
                    </div>
                    <div class="input_right fl">
                        <app-select-list [width]="0" [values]="selectListHzgx"
                                         (SelectModel)="getChildEvent1($event)"></app-select-list>
                    </div>

                </div>
                <div class="inputBox  rl fl">
                    <div class="input_left fl ">
                        迁入日期
                    </div>
                    <div class="input_right fl timeSelect">

                        <app-p-calendar [value]="hcy.qrrq" (SelectModel)="getQrrqDate($event)"></app-p-calendar>

                    </div>

                </div>
                <div class="inputBox  rl fl">
                    <div class="input_left fl">
                        迁出日期
                    </div>
                    <div class="input_right fl timeSelect">
                        <app-p-calendar [value]="hcy.qcrq" (SelectModel)="getQcrqDate($event)"></app-p-calendar>
                    </div>

                </div>


                <div class="inputBox  rl fl danwei">
                    <div class="input_left fl ">
                        所在高程
                    </div>
                    <div class="input_right fl">
                        <input class='inputS' type="text" [(ngModel)]="hcy.szzdgc" name="szzdgc"/>
                        <i>--</i>
                        <input class='inputS' type="text" [(ngModel)]="hcy.szzggc" name="szzggc"/>
                        <i class="mianji perDanwei">M</i>
                    </div>
                </div>
                <div class="inputBox  rl fl clickInput">
                    <div class="input_left fl ">
                        是否劳动力
                    </div>
                    <div class="input_right fl">
                        <p-selectButton [options]="types5" [(ngModel)]="hcy.sfsldl" name="sfsldl"
                        ></p-selectButton>
                    </div>

                </div>
                <div class="inputBox  rl fl">
                    <div class="input_left fl">
                        曾用名
                    </div>
                    <div class="input_right fl">
                        <input type="text" class="inputH" [(ngModel)]="hcy.hlbdm" name="hlbdm">
                    </div>

                </div>
                <div class="clearfix beizhu ">
                    <div class="textareaBeizhu">
                        <span>备注 </span>
                    </div>
                    <textarea name="" id="" cols="30" rows="10" class="textarea" [(ngModel)]="hcy.bz"
                              name="bz"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="selectedType==2">
    <div style="width:100%;overflow:auto;">
        <p-dataTable [value]="tableList" scrollable="true" scrollHeight="200px" [editable]="true"
                     frozenWidth="300px" unfrozenWidth="calc(100% - 300px)" [style]="{'margin-top':'30px'}"
                     bodyStyle="{'text-align''center'}">
            <p-column field="mc" header="名称" [style]="{'width':'100px'}" frozen="true" [editable]="true"></p-column>
            <p-column field="cym" header="曾用名" [style]="{'width':'100px'}" frozen="true" [editable]="true"></p-column>
            <p-column field="sfzh" header="身份证号码" [style]="{'width':'100px'}" frozen="true"
                      [editable]="true"></p-column>
            <p-column field="szxzqhdm" header="所在行政区划分" [style]="{'width':'150px'}" [editable]="true"></p-column>
            <p-column field="hbdm" header="户别" [style]="{'width':'150px'}"></p-column>
            <p-column field="zydldm" header="专业大类" [style]="{'width':'150px'}"></p-column>
            <p-column field="dcfwdm" header="调查范围" [style]="{'width':'150px'}"></p-column>

            <p-column field="xbdm" header="性别" [style]="{'width':'150px'}" frozen="true"></p-column>
            <p-column field="mzdm" header="民族" [style]="{'width':'150px'}"></p-column>
            <p-column field="yhzgx" header="与户主关系" [style]="{'width':'150px'}"></p-column>
            <p-column field="csrq" header="出生日期" [style]="{'width':'150px'}" [editable]="true"
                      [style]=" {'overflow':'visible' }">
                <ng-template let-col let-car="rowData" pTemplate="body">
                    {{car[col.field]|date }}
                </ng-template>
                <ng-template let-col let-car="rowData" pTemplate="editor">
                    <p-calendar [(ngModel)]="car[col.field]" appendTo="body"></p-calendar>
                </ng-template>

            </p-column>
            <p-column field="whcddm" header="文化程度" [style]="{'width':'150px'}"></p-column>
            <p-column field="hydm" header="婚姻" [style]="{'width':'150px'}"></p-column>
            <p-column field="sfsldl" header="是否劳动" [style]="{'width':'150px'}"></p-column>

            <p-column field="hkszd" header="户口所在地" [style]="{'width':'150px'}"></p-column>
            <p-column field="rs" header="人数" [style]="{'width':'150px'}"></p-column>
            <p-column field="bz" header="备注" [style]="{'width':'150px'}"></p-column>
            <p-column field="cjsj" header="创建时间" [style]="{'width':'150px'}"></p-column>


        </p-dataTable>
    </div>
    <!--<div style="width100%;overflow auto">-->

    <!--<table class="table table1">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<td>名称</td>-->
    <!--<td>曾用名</td>-->
    <!--<td>身份证号码</td>-->
    <!--<td>所在行政区划分</td>-->
    <!--<td>户别</td>-->
    <!--<td>专业大类</td>-->
    <!--<td>调查范围</td>-->
    <!--<td>性别</td>-->
    <!--<td>民族</td>-->
    <!--<td>与户主关系</td>-->
    <!--<td>出生日期</td>-->
    <!--<td>文化程度</td>-->
    <!--<td>婚姻</td>-->
    <!--<td>是否劳动</td>-->
    <!--<td>户口所在地</td>-->
    <!--<td>人数</td>-->
    <!--<td>备注</td>-->
    <!--<td>创建时间</td>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td align="center"><input type="text" value="蔡国成"/></td>-->
    <!--<td><input type="text" value=""/></td>-->
    <!--<td><input type="text" value="530128194209233010"/></td>-->
    <!--<td><input type="text" value="云南省昆明市禄劝彝族苗族自治县皎平渡镇皎平村红门厂组"/></td>-->
    <!--<td><input type="text" value="农业"/></td>-->
    <!--<td><input type="text" value="农村部分"/></td>-->
    <!--<td><input type="text" value="水库淹没影响区-淹没区"/></td>-->
    <!--<td><input type="text" value="男"/></td>-->
    <!--<td><input type="text" value="汉族"/></td>-->
    <!--<td><input type="text" value="户主"/></td>-->
    <!--<td><input type="text" value="" placeholder="请输入时间"/></td>-->
    <!--<td><input type="text" value="高中"/></td>-->
    <!--<td><input type="text" value="已婚"/></td>-->
    <!--<td><input type="text" value="否"/></td>-->
    <!--<td><input type="text" /></td>-->
    <!--<td><input type="text"/></td>-->
    <!--<td><input type="text"/></td>-->
    <!--<td><input type="text"/></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td align="center"><input type="text" value="白应福"/></td>-->
    <!--<td><input type="text" value=""/></td>-->
    <!--<td><input type="text" value="530128194209233010"/></td>-->
    <!--<td><input type="text" value="云南省昆明市禄劝彝族苗族自治县皎平渡镇皎平村红门厂组"/></td>-->
    <!--<td><input type="text" value="农业"/></td>-->
    <!--<td><input type="text" value="农村部分"/></td>-->
    <!--<td><input type="text" value="水库淹没影响区-淹没区"/></td>-->
    <!--<td><input type="text" value="男"/></td>-->
    <!--<td><input type="text" value="汉族"/></td>-->
    <!--<td><input type="text" value="父子"/></td>-->
    <!--<td><input type="text" value="" placeholder="请输入时间"/></td>-->
    <!--<td><input type="text" value="高中"/></td>-->
    <!--<td><input type="text" value="已婚"/></td>-->
    <!--<td><input type="text" value="否"/></td>-->
    <!--<td><input type="text" /></td>-->
    <!--<td><input type="text"/></td>-->
    <!--<td><input type="text"/></td>-->
    <!--<td><input type="text"/></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td align="center"><input type="text" value="李才香"/></td>-->
    <!--<td><input type="text" value=""/></td>-->
    <!--<td><input type="text" value="530128194209233010"/></td>-->
    <!--<td><input type="text" value="云南省昆明市禄劝彝族苗族自治县皎平渡镇皎平村红门厂组"/></td>-->
    <!--<td><input type="text" value="农业"/></td>-->
    <!--<td><input type="text" value="农村部分"/></td>-->
    <!--<td><input type="text" value="水库淹没影响区-淹没区"/></td>-->
    <!--<td><input type="text" value="女"/></td>-->
    <!--<td><input type="text" value="汉族"/></td>-->
    <!--<td><input type="text" value="夫妻"/></td>-->
    <!--<td><input type="text" value="" placeholder="请输入时间"/></td>-->
    <!--<td><input type="text" value="高中"/></td>-->
    <!--<td><input type="text" value="已婚"/></td>-->
    <!--<td><input type="text" value="否"/></td>-->
    <!--<td><input type="text" /></td>-->
    <!--<td><input type="text"/></td>-->
    <!--<td><input type="text"/></td>-->
    <!--<td><input type="text"/></td>-->
    <!--</tr>-->

    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->

</div>

