<div class="clearfix">
  <div class="fl group group-4">
    <span>权属人</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>所在行政区划</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>调查范围</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>公路等级</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>公路名称</span>
    <input type="text">
  </div>
  <div class="fl group group-4 danwei">
    <span>长度</span>
    <input type="text">
    <div class="fl mianji">
      km
    </div>
  </div>
  <div class="fl group group-2">
    <span>隶属关系</span>
    <input type="text">
  </div>
  <div class="fl group group-4 ">
    <span>主管部门</span>
    <input type="text">

  </div>

  <div class="fl group group-4 ">
    <span>运行管理单位</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>起始地点</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>结束地点</span>
    <input type="text">

  </div>
  <div class="fl group group-4 danwei">
    <span>路面宽度</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>
  <div class="fl group group-4 ">
    <span>断面编号</span>
    <input type="text">

  </div>
  <div class="fl group group-4 danwei">
    <span>路基高度</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>
  <div class="fl group group-4 danwei">
    <span>路面高程</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>
  <div class="fl group group-4 danwei" >
    <span>交通流量</span>
    <input type="text" style="width: calc(100% - 150px)">
    <div class="fl mianji" style="width: 40px">
      辆/日
    </div>

  </div>
  <div class="fl group group-4 danwei">
    <span>每公里造价</span>
    <input type="text">
    <div class="fl mianji">
      万元
    </div>

  </div>
  <div class="fl group group-4 ">
    <span>调查流水号</span>
    <input type="text">

  </div>
  <div class="fl group group-2 ">
    <span>淹没起始地点</span>
    <input type="text">

  </div>
  <div class="fl group group-4 ">
    <span>淹没结束地点</span>
    <input type="text">

  </div>
  <div class="fl group group-4 danwei">
    <span>淹没路线长度</span>
    <input type="text">
    <div class="fl mianji">
      km
    </div>

  </div>
  <div class="fl group group-4 danwei">
    <span>淹没路基宽度</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>
  <div class="fl group group-4 danwei">
    <span>淹没路面宽度</span>
    <input type="text">
    <div class="fl mianji">
      m
    </div>

  </div>
  <div class="fl group group-4 ">
    <span>淹没涉及桥梁座数</span>
    <input type="text">

  </div>










  <div  class="clearfix beizhu ">
    <div  class="textareaBeizhu">
      <span >备注 </span>
    </div>
    <textarea  class="textarea " cols="30" id="" name="bz" rows="10"  model="所在最低高程"></textarea>
  </div>


</div>