<div class="clearfix">
  <div class="fl group group-4">
    <span>权属人</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>所在行政区划</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>调查范围</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>管道名称</span>
    <input type="text">
  </div>
  <div class="fl group group-4">
    <span>管道类别</span>
    <input type="text">
  </div>


  <div class="fl group group-4 ">
    <span>隶属关系</span>
    <input type="text">

  </div>

  <div class="fl group group-4 ">
    <span>布设方式</span>
    <input type="text">

  </div>
  <div class="fl group group-4">
    <span>输送介质</span>
    <input type="text">
 </div>

  <div class="fl group group-2 ">
    <span>起始地点</span>
    <input type="text">


  </div>

  <div class="fl group group-2">
    <span>结束地点</span>
    <input type="text">
  </div>


  <div class="fl group group-4">
    <span>设计输送能力</span>
    <input type="text">


  </div>


  <div class="fl group group-4 danwei">
    <span>长度</span>
    <input type="text">
    <div class="fl mianji">
      km
    </div>

  </div>

  <div class="fl group group-4 danwei">
    <span>直径</span>
    <input type="text">
    <div class="fl mianji">
      mm
    </div>
  </div>

  <div class="fl group group-4 ">
    <span>结构材料</span>
    <input type="text" >

  </div>




  <div class="fl group group-1 ">
    <span>建成时间</span>
    <input type="text">

  </div>










  <div  class="clearfix beizhu ">
    <div  class="textareaBeizhu">
      <span >备注 </span>
    </div>
    <textarea  class="textarea " cols="30" id="" name="bz" rows="10"  model="所在最低高程"></textarea>
  </div>


</div>