<header class="header clearfix">

  <div class="header_left fl rl">
    <span class="logo"><img src="assets/img/logo.png" alt=""></span>
    福建省水利水电工程建设征地移民安置管理信息系统
  </div>
  <div class="fr">
    <ul class="header_top">
      <li class="fl" routerLink="/user/">
        <span><img src="assets/img/icon/home.png" alt=""></span>
        首页
      </li>
      <li class="fl">
        <span><img src="assets/img/icon/cast-connected.png" alt=""></span>
        控制台
      </li>
      <li class="fl">
        <span><img src="assets/img/icon/mail.png" alt=""></span>
        消息
      </li>
      <li class="fl rl admin">
        用户
        <span class="xiala"></span>
        <div class="clearBug">
          <div class="userAdmin">
            <span class="sjx"></span>
            <ul>
              <li>权限查看</li>
              <li>个人设置</li>
              <li>切换菜单风格</li>
              <li>意见反馈</li>
              <li>安全退出</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="fl">
        <span><img src="assets/img/icon/exit-to-app.png" alt=""></span>
        退出
      </li>




    </ul>
  </div>

</header>
