<div>
    <header class="clearfix">
        <div class="fl"  >
                <div class="fl" *ngFor="let names of treesList"  (click)="selectNmae(names)" [ngClass]="{'active':names == name_active_data}" [innerHTML]="names.qsrmc"></div>
            <app-select-list class="fr" *ngIf="displaySelectPserson"  [values]="selectPersonList"
                             (SelectModel)="getChildEvent1($event)"></app-select-list>
        </div>
        <div class="input_right fl">

        </div>
        <div class="fr button_10">
            <div class="fl" (click)="displaySlect()"><span class="img"><img src="assets/img/icon/jiahao.png" class="img" alt=""></span>新增零星树木</div>
            <div class="fl" (click)="deleteSlect()"><span><img src="assets/img/icon/clear.png" alt="" class="img"></span>删除零星树木</div>
        </div>
    </header>
    <p-panel toggleable="true" *ngIf="name_active_data" [(collapsed)]="showTOP" expandIcon="fa-angle-double-up"
             collapseIcon="fa-angle-double-down">


        <p-header class="header_bg">
            <div class="title" style="padding: 0;border: none;">
                零星树木基本信息
            </div>
        </p-header>
        <form #person="ngForm">
        <div class=" clearfix" *ngIf="name_active_data">
            <div class="inputArea fl">
                <div class="inputLeft fl">
                    <span class="importent">权属人</span>
                </div>
                <div class="inputRight fl">
                    <app-select-list [width]="0"  [values]="selectPersonList"
                                     (SelectModel)="eventQsr($event)"    [selectValue]="name_active_data.qsrId" ngDefaultControl></app-select-list>

                </div>
            </div>
            <div class="inputArea rl fl langest">
                <div class="inputLeftSelect fl ">
                    <span class="importent">所在行政区划</span>
                </div>
                <div class="inputRight fl">
                    <input type="text" class="inputH" value="{{name_active_data.localitydesc}}">
                    <span class="xiala" (click)="showAreaBlock()"></span>
                    <app-area-select class="areaCommpont" [display]="isShowArea"
                                     (childEvent)="getChildEvent($event)"></app-area-select>
                    <!--<input type="text" value="王友群">-->
                </div>
            </div>
            <!--下拉框-->
            <div class="inputArea fl">
                <div class="inputLeft fl">
                    <span class="importent">专业大类</span>
                </div>
                <div class="inputRight fl">
                    <app-select-list [width]="0" [values]="zydl_list"
                                   name="zydl"  (SelectModel)="eventZydl($event)"></app-select-list>
                </div>
            </div>

            <!--下拉框-->
            <div class="inputArea  rl fl">
                <div class="inputLeft fl importent">
                    调查范围
                </div>
                <div class="inputRight fl">
                    <input type="text" class="inputH" [(ngModel)]="name_active_data.dcfwmc" name="dcfw">
                    <i class="xiala" (click)="dcfw_show()"></i>
                    <app-surver-area [values]="dcfw_list" [isShow]="dcfw_list_is_show" (childEvent)="dcfw_data($event)"></app-surver-area>
                </div>


            </div>

            <div class="fl group group-4 danwei">
                <span>总面积</span>
                <input type="text" name="zmj" name="jzmj" [(ngModel)]="name_active_data.jzmj" >
                <div class="fl mianji">
                    ㎡
                </div>

            </div>
            <div>
                <div class="inputArea fl">
                    <div class="inputLeft fl">
                        <span>是否线外</span>
                    </div>
                    <div class="inputRight fl">
                        <p-selectButton [options]="types" name="sfxw" [(ngModel)]="selectedType"
                                        (click)="selectedTypea()"></p-selectButton>
                    </div>
                </div>
            </div>
            <div class="inputArea fl">
                <div class="inputLeft fl">
                    <span >所在高层</span>
                </div>
                <div class="inputRight fl">
                    <input type="text" name="szgc" [(ngModel)]="name_active_data.szgc">
                </div>
            </div>
            <div class="inputArea fl">
                <div class="inputLeft fl">
                    <span >图幅号</span>
                </div>
                <div class="inputRight fl">
                    <input type="text" name="tfh" [(ngModel)]="name_active_data.tfh">
                </div>
            </div>
            <div class="inputArea fl">
                <div class="inputLeft fl">
                    <span >图斑号</span>
                </div>
                <div class="inputRight fl">
                    <input type="text" name="tbh" [(ngModel)]="name_active_data.tbh">
                </div>
            </div>
            <div class="inputArea fl">
                <div class="inputLeft fl">
                    <span >断面编号</span>
                </div>
                <div class="inputRight fl">
                    <input type="text" name="dmbh" [(ngModel)]="name_active_data.dmbh">
                </div>
            </div>
            <div class="inputArea fl">
                <div class="inputLeft fl">
                    <span >调查流水号</span>
                </div>
                <div class="inputRight fl">
                    <input type="text" name="dclsh" [(ngModel)]="name_active_data.dclsh">
                </div>
            </div>







            <div class="clearfix beizhu ">
                <div class="textareaBeizhu">
                    <span>备注 </span>
                </div>
                <textarea name="" id="" cols="30" rows="10" class="textarea"></textarea>
            </div>
        </div>
        </form>
    </p-panel>


    <div *ngIf="name_active_base">
        <div class="home_title">房屋分类信息</div>


        <div class="tab_box clearfix" >

            <div *ngFor="let TreeTable of name_active_base;let i = index;" class="group-4 fl" >

                <p-treeTable   ui-treetable-tablewrapper [tableStyle]="{'padding':'10px'}" [value]="TreeTable"  [(selection)]="selectedFiles2" [style]="{'margin-top':'20px','border':'1px solid #cccccc'}">
                    <p-column field="xh"  header="序号">
                        <!--<ng-template let-node="rowData" pTemplate="body">-->
                        <!--<input type="text"  style="width:100%;border-width:0px 0px 1px 0px">-->
                        <!--</ng-template>-->
                    </p-column>
                    <p-column field="zdxmc" header="类别">
                        <!--<ng-template let-node="rowData" pTemplate="body">-->
                        <!--<input type="text"  style="width:100%;border-width:0px 0px 1px 0px">-->
                        <!--</ng-template>-->
                    </p-column>
                    <p-column field="sl" header="数量" >
                        <ng-template let-node="rowData" pTemplate="body">
                            <input type="text"  style="width:100%;" [(ngModel)]="node.data.sl" (keyup)="Tree_update(TreeTable,node.data,i)"   >
                        </ng-template>
                    </p-column>
                    <p-column field="dwmc" header="单位">
                        <!--<ng-template let-node="rowData" pTemplate="body">-->
                        <!--<input type="text"  style="width:100%;border-width:0px 0px 1px 0px">-->
                        <!--</ng-template>-->
                    </p-column>

                    <p-column field="bz" header="备注" >
                        <ng-template let-node="rowData" pTemplate="body">
                            <input type="text"  style="width:100%;" [(ngModel)]="node.data.bz"  (keyup)="Tree_update(TreeTable,node.data,i)">
                        </ng-template>
                    </p-column>
                </p-treeTable>


            </div>





        </div>

    </div>



    <p-growl [(value)]="msgs"></p-growl>
</div>