<div>
    <header class="clearfix">
        <div class="fl">
            <div class="fl" *ngFor="let names of treesList;let i = index;" (click)="selectName(names,i)"
                 [ngClass]="{'active':names == name_active_data}" [innerHTML]="names.qsrmc"></div>
            <app-select-list class="fr" *ngIf="displaySelectPserson" [values]="selectPersonList"
                             (SelectModel)="addtrees($event)"></app-select-list>
        </div>

        <div class="fr button_10" *ngIf="!isDisabled">
            <div class="fl" (click)="displaySlect()"><span class="img"><img src="assets/img/icon/jiahao.png" class="img"
                                                                            alt=""></span>{{displaySelectPserson?'取消新增':'新增零星树木'}}
            </div>
            <div class="fl" (click)="deleteSlect()"><span><img src="assets/img/icon/clear.png" alt=""
                                                               class="img"></span>删除零星树木
            </div>
        </div>
    </header>
    <p-panel toggleable="true" *ngIf="name_active_data" expandIcon="fa-angle-double-up"
             collapseIcon="fa-angle-double-down">


        <p-header class="header_bg">
            <div class="title" style="padding: 0;border: none;">
                零星树木基本信息
            </div>
        </p-header>
        <form #person="ngForm">
            <div class=" clearfix" *ngIf="name_active_data">
                <div class="inputArea fl">
                    <div class="inputLeft fl">
                        <span class="importent">权属人</span>
                    </div>
                    <div class="inputRight fl">
                        <app-select-list [disabled]="isDisabled"  [width]="0" [values]="selectPersonList"
                                         (SelectModel)="eventQsr($event)" [selectValue]="name_active_data.qsrId"
                                         ngDefaultControl></app-select-list>

                    </div>
                </div>
                <div class="inputArea rl fl langest">
                    <div class="inputLeftSelect fl ">
                        <span class="importent">所在行政区划</span>
                    </div>
                    <div class="inputRight fl">
                        <input [disabled]="isDisabled" type="text" class="inputH" [(ngModel)]="name_active_data.localitydesc"
                               name="swszxzqhdm" readonly="readonly" (click)="showAreaBlock()">
                        <span class="xiala" (click)="showAreaBlock()"></span>
                        <app-area-select class="areaCommpont" [display]="isShowArea" [localityCode]="szxzqugldm"
                                         (childEvent)="getChildSzxzqh($event)"></app-area-select>
                        <!--<input [disabled]="isDisabled" type="text" value="王友群">-->
                    </div>
                </div>
                <!--下拉框-->
                <div class="fl inputArea  rl zydl">


                    <div class="inputLeft fl">
                        <span>专业大类</span>
                    </div>
                    <div class="inputRight fl">
                        <input [disabled]="isDisabled"  class='inputH' type="text"
                               [(ngModel)]="name_active_data.zydlmc" name="zydldm" (click)="showZydlBlock()"
                               readonly="readonly"/>
                        <i class="xiala" (click)="showZydlBlock()"></i>
                        <app-sec-type-list (SelectModel)="getChildZydl($event)" [treeList]="zydlTreeList"
                                           [isShow]="isShowZydl"
                                           [tableList]="zydlTableList"></app-sec-type-list>
                    </div>


                </div>
                <!--下拉框-->
                <div class="inputArea rl fl langest">
                    <div class="inputLeftSelect fl">
                        <span class="importent">调查范围</span>
                    </div>

                    <div class="inputRight fl">
                        <input [disabled]="isDisabled"  class='inputH' type="text"
                               [(ngModel)]="name_active_data.dcfwmc" name="dcfwmc" (click)="showDcfwBlock()"
                               readonly="readonly"/>
                        <i class="xiala" (click)="showDcfwBlock()"></i>
                        <app-sec-type-list (SelectModel)="getChildDcfw($event)" [treeList]="dcfwTreeList"
                                           [isShow]="isShowDcfw"
                                           [tableList]="dcfwTableList"></app-sec-type-list>

                    </div>


                </div>

                <div class="fl group group-4 danwei">
                    <span>总数量</span>
                    <input disabled="true" type="number"  name="jzmj" [(ngModel)]="jzzmj">
                    <div class="fl mianji">
                        颗
                    </div>

                </div>
                <div>
                    <div class="inputArea fl">
                        <div class="inputLeft fl">
                            <span>是否线外</span>
                        </div>
                        <div class="inputRight fl">
                            <p-selectButton [options]="types2" [disabled]="isDisabled"
                                            [(ngModel)]="sfxw" name="sfxwValue"
                                            (click)="selectedTypea2(sfxw)"></p-selectButton>
                        </div>
                    </div>
                </div>
                <div class="inputArea fl">
                    <div class="inputLeft fl">
                        <span>所在高层</span>
                    </div>
                    <div class="inputRight fl">
                        <input [disabled]="isDisabled" type="text" name="szgc" [(ngModel)]="name_active_data.szgc">
                    </div>
                </div>
                <div class="inputArea fl">
                    <div class="inputLeft fl">
                        <span>图幅号</span>
                    </div>
                    <div class="inputRight fl">
                        <input [disabled]="isDisabled" type="text" name="tfh" [(ngModel)]="name_active_data.tfh">
                    </div>
                </div>
                <div class="inputArea fl">
                    <div class="inputLeft fl">
                        <span>图斑号</span>
                    </div>
                    <div class="inputRight fl">
                        <input [disabled]="isDisabled" type="text" name="tbh" [(ngModel)]="name_active_data.tbh">
                    </div>
                </div>
                <div class="inputArea fl">
                    <div class="inputLeft fl">
                        <span>断面编号</span>
                    </div>
                    <div class="inputRight fl">
                        <input [disabled]="isDisabled" type="text" name="dmbh" [(ngModel)]="name_active_data.dmbh">
                    </div>
                </div>
                <div class="inputArea fl">
                    <div class="inputLeft fl">
                        <span>调查流水号</span>
                    </div>
                    <div class="inputRight fl">
                        <input [disabled]="isDisabled" type="text" name="dclsh" [(ngModel)]="name_active_data.dclsh">
                    </div>
                </div>


                <div class="clearfix beizhu ">
                    <div class="textareaBeizhu">
                        <span>备注 </span>
                    </div>
                    <textarea [disabled]="isDisabled" name="jbxxbz" [(ngModel)]="name_active_data.bz" id="" cols="30" rows="10" class="textarea"></textarea>
                </div>
            </div>
        </form>
    </p-panel>

    <div class="clearfix mar_top">
        <p-panel toggleable="true" *ngIf="name_active_data" expandIcon="fa-angle-double-up"
                 collapseIcon="fa-angle-double-down">


            <p-header class="header_bg">
                <div class="title" style="padding: 0;border: none;">
                    零星树木分类信息
                </div>
            </p-header>

            <div *ngIf="name_active_base">

                <!--<div>-->
                <!--<p-selectButton [options]="types3" [(ngModel)]="selectedType3"-->
                <!--(click)="selectedTypea3()" [disabled]="flxx_is_checked != 1 && selectedType3 == '1'"></p-selectButton>-->
                <!--</div>-->

                <div class="tab_box clearfix">


                    <div class="form clearfix" *ngIf="showTable==1">

                        <div class="fl rl">
                            <input  type="text" [(ngModel)]="searchKeyword"
                                   (ngModelChange)="searchList($event,searchKeyword)"
                                   class="searchInput" placeholder="类别名称">
                        </div>


                        <div class="btnGrop fr">
                            <ul>
                                <li class="fl" (click)="showAll(true)" *ngIf="isShow">
                                    <span class="img icon fa fa-square-o"></span>
                                    显示非空项
                                </li>
                                <li class="fl" (click)="showAll(false)" *ngIf="!isShow">
                                    <span class="img icon fa fa-check-square"></span>
                                    显示所有项
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div *ngIf="showTable==1" class="clearfix boxShadow foot_boxShadow">
                        <div *ngFor="let TreeTable of name_active_base;let i = index;" class="group-4 fl fl foot_box"
                             [ngClass]="{'group-4':name_active_base?.length==4,'group-3':name_active_base?.length==3,'group-2':name_active_base?.length==2,'group-1':name_active_base?.length==1}">

                            <p-treeTable toggleColumnIndex="1" ui-treetable-tablewrapper [tableStyle]="{'padding':'10px'}" [value]="TreeTable"
                                         (onNodeSelect)="TreeTableClick($event,TreeTable,$event.node,i)"
                                         selectionMode="single" [(selection)]="selectedFile"
                                         [style]="{'margin-top':'20px','border':'1px solid #cccccc'}">
                                <p-column field="zdxxh" header="序号">
                                    <!--<ng-template let-node="rowData" pTemplate="body">-->
                                    <!--<input [disabled]="isDisabled" type="text"  style="width:100%;border-width:0px 0px 1px 0px">-->
                                    <!--</ng-template>-->
                                </p-column>
                                <p-column field="zdxmc" header="类别">
                                    <ng-template let-node="rowData" pTemplate="body">
                                        <span style="width:100%;border-width:0px 0px 1px 0px"
                                              [ngClass]="{'search_bg':node.data.searchRsut}">{{node.data.zdxmc}}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="jzmj" header="数量">
                                    <ng-template let-col let-node="rowData" pTemplate="body">
                                        <input   style="width:100%;" (keydown)="calc($event,node)"
                                               [(ngModel)]="node.data.sl" [disabled]="node.children != null  || is_disabled"
                                               (click)="Tree_update(TreeTable,node,i)"
                                               (keyup)="Tree_update(TreeTable,node,i)">
                                    </ng-template>
                                </p-column>
                                <p-column field="dwmc" header="单位">
                                    <!--<ng-template let-node="rowData" pTemplate="body">-->
                                    <!--<input [disabled]="isDisabled" type="text"  style="width:100%;border-width:0px 0px 1px 0px">-->
                                    <!--</ng-template>-->
                                </p-column>

                                <p-column field="bz" header="备注">
                                    <ng-template let-col let-node="rowData" pTemplate="body">
                                        <input [disabled]="isDisabled" type="text" style="width:100%;" [(ngModel)]="node.data.bz"
                                               (click)="Tree_update(TreeTable,node,i)"
                                               (input)="Tree_update(TreeTable,node,i)">
                                    </ng-template>
                                </p-column>
                            </p-treeTable>


                        </div>
                    </div>

                    <form #ggmxlist="ngForm">

                        <div *ngIf="showTable==2" class="clearfix">
                            <div class="btnGrop">
                                <ul *ngIf="!isDisabled">
                                    <li class="fl" (click)="addGgmx()">
                                        <span><img src="assets/img/icon/jiahao.png" alt=""></span>
                                        新增
                                    </li>
                                    <li class="fl" (click)="delGgmx()">
                                        <span><img src="assets/img/icon/x.png" alt=""></span>
                                        删除
                                    </li>
                                </ul>
                            </div>

                            <div class="clearfix">
                                <p-dataTable resizableColumns="true" [value]="ggmx" class="table" dataKey="xh"
                                             (onRowClick)="DatatableClick($event)" [emptyMessage]="'查询数据为空'"
                                             responsive="true" selectionMode="single">
                                    <p-column field="xh" title="mc" header="序号" [bodyStyle]="{'text-align':'left'}">
                                        <ng-template let-col let-i="rowIndex" let-car="rowData" pTemplate="body">
                                            <span #defaultPerson>{{i+1}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="lxgmlbdm" header="零星果木类别">
                                        <ng-template let-col let-node="rowData" pTemplate="body">
                                            <!--<div>{{node.fwjgdm}}</div>-->
                                            <div *ngFor="let item of tableList;">
                                                <span *ngIf="item.lxgmlbdm==node.lxgmlbdm">{{item.zdxmc}}</span>
                                            </div>

                                        </ng-template>
                                    </p-column>
                                    <p-column field="cs" header="层数">
                                        <ng-template let-col let-car="rowData" pTemplate="body">
                                            <span>{{car[col.field]}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="cgxs" header="层高系数">
                                        <ng-template let-col let-car="rowData" pTemplate="body">
                                            <span>{{car[col.field]}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="ggcc" header="屋面材料">
                                        <ng-template let-col let-car="rowData" pTemplate="body">
                                            <span>{{car[col.field]}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="txmj" header="图形面积">
                                        <ng-template let-col let-car="rowData" pTemplate="body">
                                            <span>{{car[col.field]}}</span>
                                        </ng-template>
                                    </p-column>
                                    <!--<p-column field="jzmj" header="建筑面积">-->
                                    <!--<ng-template let-col let-car="rowData" pTemplate="body">-->
                                    <!--<span>{{car[col.field]}}</span>-->
                                    <!--</ng-template>-->
                                    <!--</p-column>-->
                                    <p-column field="dw" header="单位">
                                        <ng-template let-col let-car="rowData" pTemplate="body">
                                            <span>{{car[col.field]}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="bz" header="备注">
                                        <ng-template let-col let-car="rowData" pTemplate="body">
                                            <span>{{car[col.field]}}</span>
                                        </ng-template>
                                    </p-column>
                                </p-dataTable>

                            </div>


                            <div class="clearfix modalInput" *ngIf="ggmx[GgmxIndex]">
                                <div class="inputArea fl">
                                    <div class="inputLeft fl">
                                        <span class="importent">房屋用途及结构</span>
                                    </div>
                                    <div class="inputRight fl">
                                        <input [disabled]="isDisabled" type="text" name="fwjgdm" [(ngModel)]="ggmx[GgmxIndex]['fwjgdm']">
                                    </div>
                                </div>
                                <div class="inputArea fl">
                                    <div class="inputLeft fl">
                                        <span>层数</span>
                                    </div>
                                    <div class="inputRight fl">
                                        <input [disabled]="isDisabled" type="number" name="cs" [(ngModel)]="ggmx[GgmxIndex]['cs']">
                                    </div>
                                </div>
                                <div class="inputArea fl">
                                    <div class="inputLeft fl">
                                        <span>层高系数</span>
                                    </div>
                                    <div class="inputRight fl">
                                        <input [disabled]="isDisabled" type="number" name="cgxs" [(ngModel)]="ggmx[GgmxIndex]['cgxs']">
                                    </div>
                                </div>
                                <div class="inputArea fl">
                                    <div class="inputLeft fl">
                                        <span>屋面材料</span>
                                    </div>
                                    <div class="inputRight fl">
                                        <input [disabled]="isDisabled" type="text" name="ggcc" [(ngModel)]="ggmx[GgmxIndex]['wmcl']">
                                    </div>
                                </div>
                                <div class="inputArea fl">
                                    <div class="inputLeft fl">
                                        <span>丈量尺寸</span>
                                    </div>
                                    <div class="inputRight fl">
                                        <input [disabled]="isDisabled" type="text" name="zlcc" [(ngModel)]="ggmx[GgmxIndex]['ggcc']">
                                    </div>
                                </div>


                                <div class="fl group group-4 danwei">
                                    <!--<span>建筑面积</span>-->
                                    <!--<input [disabled]="isDisabled" type="text" name="jzmj" [(ngModel)]="ggmx[GgmxIndex]['jzmj']">-->
                                    <!--<div class="fl mianji">-->
                                    <!--㎡-->
                                    <!--</div>-->

                                </div>
                                <!--<div class="inputArea fl">-->
                                <!--<div class="inputLeft fl">-->
                                <!--<span>备注</span>-->
                                <!--</div>-->
                                <!--<div class="inputRight fl ">-->
                                <!--<input [disabled]="isDisabled" type="text">-->
                                <!--</div>-->

                                <!--</div>-->
                                <div class="clearfix beizhu ">
                                    <div class="textareaBeizhu">
                                        <span>备注 </span>
                                    </div>
                                    <textarea [disabled]="isDisabled" name="bz" cols="30" rows="10" class="textarea"
                                              [(ngModel)]="ggmx[GgmxIndex]['bz']"></textarea>
                                </div>
                            </div>


                        </div>
                    </form>


                </div>

            </div>

        </p-panel>
    </div>
    <p-growl [(value)]="msgs"></p-growl>
</div>