<div class="clearfix">
  <header class="clearfix">

    <div class="fr button_10" *ngIf="!isDisabled">

      <div class="fl" (click)="deleteSlect()"><span><img src="assets/img/icon/clear.png" alt=""
                                                         class="img"></span>删除
      </div>
    </div>
  </header>

  <div class="fl group group-4 importent">
    <span>权属人</span>
    <app-select-list [disabled]="isDisabled"  [width]="120" [values]="selectPersonList"
                     (SelectModel)="eventQsr($event)" [selectValue]="hdList[0].qsrId"
                     ngDefaultControl></app-select-list>
  </div>

  <form #forms="ngForm">


    <div class="fl group group-4 rl importent">
      <span>所在行政区划</span>
      <input [disabled]="isDisabled" name="szxzqh" type="text" class="" [(ngModel)]="hdList[0].localitydesc" name="szxzqhdm"
             (click)="showAreaBlock()" readonly="readonly">
      <i class="xiala" (click)="showAreaBlock()"></i>
      <app-area-select [localityCode]="szxzqugldm" class="areaCommpont"
                       [display]="isShowArea"
                       (childEvent)="getChildSzxzqh($event)"></app-area-select>
    </div>

    <div class="fl group group-4 rl importent">
      <span>调查范围</span>
      <input [disabled]="isDisabled" type="text"  [(ngModel)]="hdList[0].dcfwmc" name="dcfwdm"
             (click)="showDcfwBlock()" readonly="readonly">
      <i class="xiala" (click)="showDcfwBlock()"></i>
      <app-sec-type-list (SelectModel)="getChildDcfw($event)" [treeList]="dcfwTreeList"
                         [isShow]="isShowDcfw"
                         [tableList]="dcfwTableList"></app-sec-type-list>
    </div>

    <div class="fl group group-4">
      <span>航道编号</span>
      <input [disabled]="isDisabled" name="hdbh" [(ngModel)]="hdList[0].hdbh" type="text">
    </div>
    <div class="fl group group-4 rl">
      <span>航道类别</span>
      <input [disabled]="isDisabled" type="text" [(ngModel)]="hdList[0].hdlbmc" name="hdlbmc"
             (click)="showhdBlock()" readonly="readonly">
      <i class="xiala" (click)="showhdBlock()"></i>
      <app-sec-type-list (SelectModel)="getChildhd($event)" [isShow]="isShowhd"
                         [treeList]="hdTreeList" [tableList]="hdTableList"></app-sec-type-list>
    </div>
    <div class="fl group group-4">
      <span>航道名称</span>
      <input [disabled]="isDisabled" name="mc" [(ngModel)]="hdList[0].mc" type="text">
    </div>

  <div class="fl group group-4 danwei">
    <span>长度</span>
    <input [disabled]="isDisabled" name="cd" [(ngModel)]="hdList[0].cd" type="number">
    <div class="fl mianji">
      m
    </div>
  </div>
    <div class="fl group group-4 rl">
      <span>航道等级</span>
      <input [disabled]="isDisabled" type="text" [(ngModel)]="hdList[0].hddjmc" name="hddjmc"
             (click)="showgkdjBlock()" readonly="readonly">
      <i class="xiala" (click)="showgkdjBlock()"></i>
      <app-sec-type-list (SelectModel)="getChildgkdj($event)" [isShow]="isShowgkdj"
                         [treeList]="gkdjTreeList" [tableList]="gkdjTableList"></app-sec-type-list>
    </div>
  <div class="fl group group-2 danwei big_mj">
    <span>通航能力</span>
    <input [disabled]="isDisabled" name="thnl" [(ngModel)]="hdList[0].thnl" type="number">
    <div class="fl mianji">
      万吨/年
    </div>

  </div>
  <div class="fl group group-4 ">
    <span>主管部门</span>
    <input [disabled]="isDisabled" name="zgbm" [(ngModel)]="hdList[0].zgbm" type="text">

  </div>

  <div class="fl group group-4 ">
    <span>运行管理单位</span>
    <input [disabled]="isDisabled" name="yxgldw" [(ngModel)]="hdList[0].yxgldw" type="text">

  </div>
<!--     <div class="fl group group-4 ">
      <span>调查流水号</span>
      <input [disabled]="isDisabled" name="dclsh" [(ngModel)]="hdList[0].dclsh" type="text">

    </div> -->
  <div class="fl group group-2 ">
    <span>所在位置</span>
    <input [disabled]="isDisabled" name="szwz" [(ngModel)]="hdList[0].szwz" type="text">

  </div>
  <div class="fl group group-4 ">
    <span>断面编号</span>
    <input [disabled]="isDisabled" name="dmbh" [(ngModel)]="hdList[0].dmbh" type="text">

  </div>

    <div class="fl group group-4 danwei">
      <span>分布高程</span>

      <div class="two_input fl">
        <input [disabled]="isDisabled" name="zyzdgc" [(ngModel)]="hdList[0].zdgc" type="number">
        <i class="fl">--</i>
        <input [disabled]="isDisabled" name="zyzggc" [(ngModel)]="hdList[0].zggc" type="number">
      </div>

      <div class="fl mianji">
        m
      </div>

    </div>




  <div  class="clearfix beizhu ">
    <div  class="textareaBeizhu">
      <span >备注 </span>
    </div>
    <textarea  class="textarea " cols="30" id="" name="bz" [(ngModel)]="hdList[0].bz" rows="10"  model="所在最低高程"></textarea>
  </div>
  </form>

</div>