<div class="containerEng">

    <header>
        <div class="title">
            <app-breadcrumb [items]="breadcrumb"></app-breadcrumb>
        </div>
    </header>
    <div class="engBody">
        <div class="tableEng">
            可行性研究报告阶段专业项目{{this.parent_params['item']}}迁复建信息
        </div>
        <div class="clearfix">
            <div class="fl searchDiv">
                <input type="text" class="searchInput" [formControl]="nameFilter"   [(ngModel)]="key" placeholder="名称">
            </div>
            <div class="btnGrop fr">
                <div class="fl" (click)="openModal('add')"><span class="img"><img src="assets/img/icon/jiahao.png" alt=""></span>新增</div>
                <div class="fl" (click)="openModal('rew')"><span class="img"><img src="assets/img/icon/brush_fill.png"
                                                                                alt=""></span>编辑
                </div>
                <div class="fl"  (click)="delSelect()"><span class="img"><img src="assets/img/icon/trash.png" alt=""></span>删除</div>
                <div class="fl" (click)="openModal('view')"><span class="img"><img src="assets/img/icon/browse_fill.png" alt=""></span>查看</div>
            </div>
        </div>
        <div class="body clearfix">
            <p-dataTable [value]="dataList" dataKey="id"
                         (onRowClick)="DatatableClick($event.data)"
                         [emptyMessage]="'查询数据为空'"
                         responsive="true"
                         selectionMode="single">
                <p-column field="xmmc" header="{{title.mc}}"></p-column>
                <span *ngIf="dataList  && dataList.length>0 && !dataList[0].djmc "> <p-column  field="xmjc" header="{{title.dj}}"></p-column></span>
                <p-column field="djmc" header="{{title.dj}}"></p-column>
                <p-column field="xmgldwxzqhmc" header="{{title.qy}}"></p-column>
            </p-dataTable>





        </div>

        <div class="tableEng footer">
            <app-paginator [url]="listUrl" [count]="count" [totalPage]="totalPage" [condition]="getparam"
                           (pageSelect)="queryList($event)"></app-paginator>
        </div>
    </div>
    <div #modelRoom></div>
    <p-growl [(value)]="msgs"></p-growl>

</div>


