<div class="containerEng">
    <header>
        <div class="title">
            独立评估资料
        </div>
    </header>
    <div class="body clearfix">

        <div class="body_top">
            <div class="clearfix">
                <div class="fl searchDiv">
                    <input type="text" style="width: 250px;" class="searchInput" placeholder="名称、上传单位、行政区域名称">
                </div>
                <div class="btnGrop fr">
                    <div class="fl">
                        <p-checkbox class="fl" name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
                        仅显示本单位文件
                    </div>
                    <div class="fl">
                        <p-checkbox class="fl" name="groupname" value="val2" [(ngModel)]="selectedValues"></p-checkbox>
                        仅显示最近三年文件
                    </div>
                    <div class="fl"><span class="img"><img src="assets/img/icon/updet.png" alt=""></span>上传文件</div>
                </div>
            </div>
        </div>
        <div class="body_botton">
            <div class="clearfix">
                <div class="t rl">
                    2017年度（2个）
                    <div class="btnGrop">
                        <ul>
                            <li ><span><img class="img" src="assets/img/icon/psdClearblck.png" alt=""></span>全部删除</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="fl wj_box ">
                        <div class="wj_b_h clearfix">
                            <div class="fl wj_b_Im">
                                <span class="img"><img src="assets/img/icon/pdf.png" alt=""></span>
                                <span>pdf</span>
                            </div>
                            <div class="fl text">
                                泉州白濑水利枢纽工程建设征地
                                移民安置监理月报2017年度第1期
                            </div>
                        </div>
                        <div class="wj_b_b">
                            <div>
                                <span>上传单位：</span>福建省移民局
                            </div>
                            <div>
                                <span>上传日期：</span>2017-12-10
                            </div>
                        </div>
                    </div>
                    <div class="fl wj_box ">
                        <div class="wj_b_h clearfix">
                            <div class="fl wj_b_Im">
                                <span class="img"><img src="assets/img/icon/pdf.png" alt=""></span>
                                <span>pdf</span>
                            </div>
                            <div class="fl text">
                                泉州白濑水利枢纽工程建设征地
                                移民安置监理月报2017年度第2期
                            </div>
                        </div>
                        <div class="wj_b_b">
                            <div>
                                <span>上传单位：</span>福建省移民局
                            </div>
                            <div>
                                <span>上传日期：</span>2017-12-10
                            </div>
                        </div>
                    </div>
                    <div class="fl wj_box ">
                        <div class="wj_b_h clearfix">
                            <div class="fl wj_b_Im upImg">
                                <span class="img"><img src="assets/img/icon/add2.png" alt=""></span>
                                <span>upload</span>
                            </div>
                            <div class="fl text uptext rl">
                                <div>
                                    上传文件
                                </div>
                            </div>
                        </div>
                        <div class="wj_b_b">
                            <div>
                               点击上传新的文件
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="t">2016年度（2个）</div>
                <div>
                    <div class="fl wj_box rl">
                        <div class="wj_b_h clearfix">
                            <div class="fl wj_b_Im">
                                <span class="img"><img src="assets/img/icon/pdf.png" alt=""></span>
                                <span>pdf</span>
                            </div>
                            <div class="fl text">
                                泉州白濑水利枢纽工程建设征地
                                移民安置监理月报2016年度第1期
                            </div>
                        </div>
                        <div class="wj_b_b">
                            <div>
                                <span>上传单位：</span>福建省移民局
                            </div>
                            <div>
                                <span>上传日期：</span>2016-12-10
                            </div>
                        </div>
                        <div class="model">
                            <ul class="btn_write">
                                <li>编辑</li>
                                <li>删除</li>
                                <li class="check"><img src="assets/img/icon/check.png" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="fl wj_box ">
                        <div class="wj_b_h clearfix">
                            <div class="fl wj_b_Im">
                                <span class="img"><img src="assets/img/icon/pdf.png" alt=""></span>
                                <span>pdf</span>
                            </div>
                            <div class="fl text">
                                泉州白濑水利枢纽工程建设征地
                                移民安置监理月报2016年度第2期
                            </div>
                        </div>
                        <div class="wj_b_b">
                            <div>
                                <span>上传单位：</span>福建省移民局
                            </div>
                            <div>
                                <span>上传日期：</span>2016-12-10
                            </div>
                        </div>
                    </div>
                    <div class="fl wj_box ">
                        <div class="wj_b_h clearfix">
                            <div class="fl wj_b_Im upImg">
                                <span class="img"><img src="assets/img/icon/add2.png" alt=""></span>
                                <span>upload</span>
                            </div>
                            <div class="fl text uptext rl">
                                <div>
                                    上传文件
                                </div>
                            </div>
                        </div>
                        <div class="wj_b_b">
                            <div>
                                点击上传新的文件
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>