<div class="containerEng" [@flyIn]>

    <app-breadcrumb [items]="breadcrumb"></app-breadcrumb>
    <div class="engBody clearfix">
        <div>
            <ul class="pro_list">
                <li (click)="selectItem(item)" *ngFor="let item of gzjdList" class="fl pro_li bl "
                    [ngClass]="{'active':item.active?true:false,'wnStyle':item.hasTrue?true:false}">
                    <span>{{item.xh}}</span>
                    <div class="step"><p>{{item.mc}}</p></div>
                    <div *ngFor="let list of gzjdInfoList">
                        <div *ngIf="item.dm==list.ssymazqqgzfldm" class="rl timeBox">
                            <div class="time">时间：{{list.pzrq | date:'yyyy/MM/dd'}}</div>
                            <i class="xiala"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="info clearfix">
            <p-panel styleClass="secPanel" [toggleable]="true" expandIcon="fa-angle-double-up"
                     collapseIcon="fa-angle-double-down">
                <p-header>
                    <div class="t">
                        基本信息
                    </div>
                </p-header>
                <div class="clearfix">
                    <form #ngModel="ngForm">



                    <ul class="ul_list clearfix">
                        <li class="fl"><span>批准(或发布)单位：</span>
                            <input type="text" class="searchInput" [(ngModel)]="active_jd.pzdw"
                                   name="pzdw" placeholder="请填入单位"></li>
                        <li class="fl rl"><span>批准(或发布)时间：</span>
                            <app-p-calendar (SelectModel)="getPzrqDate($event)" [value]="active_jd?.pzrq"></app-p-calendar>

                        </li>
                        <li class="fl"><span>批准(或发布)文号：</span>
                            <input type="text" class="searchInput" [(ngModel)]="active_jd.pzwh"
                                   name="pzwh" placeholder="请填入单位"></li>
                        <li class="clearfix">
                            <div class="clearfix beizhu ">
                            <span class="textareaBeizhu" style="width: 143px">
                                备注 ：
                            </span>
                                <textarea name="bz" [(ngModel)]="active_jd.bz" cols="30" rows="10"
                                          class="textarea"></textarea>
                            </div>

                        </li>

                    </ul>

                    </form>
                </div>
            </p-panel>


            <div class="t">
                相关文件
            </div>
            <div class="clearfix">
                <div>
                    <header class="clearfix">

                        <div class="btnGrop fr">
                            <ul>
                                <li class="fl" (click)="delCheck()"><span class="img fa fa-minus-square-o"></span>批量删除
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div class="rl fl wj_box" *ngFor="let list of fjList;">
                        <div class="del" (click)="delImg(list)">
                            <span><img src="assets/img/icon/x.png" alt=""></span>
                        </div>
                        <div class="del check" (click)="check(list)" [ngStyle]="{'display':list.isCheck?'block':''}">
                            <span *ngIf="!list.isCheck" class="img icon fa fa-square-o"></span>
                            <span *ngIf="list.isCheck" class="img icon fa fa-check-square"></span>
                        </div>
                        <div class="imgShow">
                            <img [src]="list.url" alt="">
                        </div>

                        <div class="img_des">
                            <span *ngIf="list.id">{{list.bt}}</span>
                            <input *ngIf="!list.id" type="text" [(ngModel)]="list.bt"
                                   (ngModelChange)="changeImgBt(list.url,list.bt)">

                        </div>
                    </div>
                    <div class="rl fl wj_box ">
                        <div class="wj_b_h clearfix">

                            <p-fileUpload mode="basic" name="file"
                                          url="http://115.28.69.231:8090/LARMS_SERVER/gcgkjbxx/uploadFile"
                                          (onUpload)="onBasicUploadAuto($event)" auto="true"
                                          chooseLabel="上传">


                                <ng-template pTemplate="content">
                                </ng-template>
                            </p-fileUpload>


                        </div>

                    </div>

                </div>

            </div>
            <div>
                <div class="btn-group icon">
                    <a (click)="save()">保存</a>
                    <a (click)="clearArr()">清空所有</a>
                </div>
            </div>
            <p-growl [(value)]="msgs"></p-growl>

        </div>
    </div>
</div>
